Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Reduce `maxReplicaCount` to 1 in ScaledJob configuration
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.52.0` to `0.53.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Use proper service connection now that the others have been made group owners
  pipelines/stages/infra-permissions.yaml
Due: pipelines/infra-permissions.yaml

Remove copypasta
  pipelines/stages/infra-permissions.yaml
Due: pipelines/infra-permissions.yaml

Add proxy buffer annotations to origin ingress configuration
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.49.0` to `0.50.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Convert `acrName` output to lowercase in ACR module
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove unused `dbWatcherPrivateEndpointKusto` resource from Database Watcher module
  bicep/modules/database-watcher.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix private link name in Search module to use `sqlServerName` directly
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update `proxy-body-size` to 102m in ingress configuration
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.50.0` to `0.51.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Adding a- account for new Azure estate access
  pipelines/vars/common.yaml
Due: none

IMTA-21373: Make upload and search migration configurable.
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Script to continuously check uptime for IPAFFS
  scripts/tools/uptime-checker/uptime-check.sh
Due: none

Add new Managed Identity
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

prd config
  helm-charts/envs/prd/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.51.0` to `0.52.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Pin AKS ClI to avoid rate limits
  pipelines/jobs/deploy-chart.yaml
  pipelines/stages/install-helm-charts.yaml
  scripts/pipeline/ensure-aso-managed-identity.sh
Due: pipelines/install-helm-charts.yaml

[skip ci] build(deps): Bumping Chart version from `0.110.0` to `0.111.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add new users
  pipelines/vars/common.yaml
Due: none

Update Dan's details
  pipelines/vars/common.yaml
Due: none

Further update Dan's details with laptop account
  pipelines/vars/common.yaml
Due: none

Cleanup
  pipelines/vars/common.yaml
Due: none

Add one DEV action group and remove others
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/modules/alerts.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.111.0` to `0.112.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add `deployment.manifestTag` support across Helm charts
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/deployment_test.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.53.0` to `0.54.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.112.0` to `0.113.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Configure Group membership for SQL Classic Managed Identity
  pipelines/stages/infra-permissions.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/tst.yaml
Due: pipelines/infra-permissions.yaml

Adding new action group for TST env
  bicep/envs/tst/30-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add new action group to PRE and PRD
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Create schedule pipeline that calls qa automation pipeline
  pipelines/qa-automation-nightly.yaml
Due: none

Set correct org variable
  pipelines/qa-automation-nightly.yaml
Due: none

debug: determine org url
  pipelines/qa-automation-nightly.yaml
Due: none

Refactor pipeline
  pipelines/qa-automation-nightly.yaml
Due: none

Add service connection
  pipelines/qa-automation-nightly.yaml
Due: none
