Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/main.bicep, bicep/resource-group.bicep, bicep/modules/*.bicep, bicep/**/main.bicepparam, bicep/**/resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/steps/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

fix: migrations image
  pipelines/jobs/deploy-chart.yaml
Due: none

fix context
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.24.0` to `0.25.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

more context fix
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.25.0` to `0.26.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

fix context for labels in db loop in backoffice chart
  helm-charts/backoffice/templates/database.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.15.0` to `0.16.0`
  helm-charts/backoffice/Chart.yaml
Due: none

fix: backoffice database location
  helm-charts/backoffice/templates/database.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.16.0` to `0.17.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Move database connection strings from deployment to configmap definition
  helm-charts/webapp/templates/configmap.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add ConfigMap for job chart: values, schema, and environment setup
  helm-charts/job/templates/configmap.yaml
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: none

feat: migration container env vars
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.26.0` to `0.27.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Remove configMapRefs from migration job, as they don't yet exist unless we move them to the backoffice chart (maybe a future improvement to make)
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.27.0` to `0.28.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

printenv before running helmfile to aid in debugging
  pipelines/jobs/deploy-chart.yaml
Due: none

Workaround for apparent race condition in ADO's logging command implementation
  pipelines/steps/create-namespace.yaml
  scripts/pipeline/bump-semver.sh
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/create-identity.sh
  scripts/pipeline/find-namespace-for-branch.sh
  scripts/pipeline/get-latest-build.sh
  scripts/pipeline/lookup-directory-object.sh
Due: none

feat: add checks permissions to deploy ipaffs
  pipelines/deploy-ipaffs.yaml
Due: none

Update get-latest-build.sh to retrieve buildNumber instead of id for latest builds
  scripts/pipeline/get-latest-build.sh
Due: none

Add TSV output format to get-latest-build.sh for pipeline run query
  scripts/pipeline/get-latest-build.sh
Due: none

Add Entra groups, runtime bicep params, some refactoring
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/privatelink-dns-records.yaml
  pipelines/stages/deploy-bicep.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/import-acr-artifacts.yaml
  pipelines/stages/infra-permissions.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/stages/package-helm-chart.yaml
  pipelines/stages/privatelink-dns-records.yaml
  pipelines/steps/deploy-bicep.yaml
  pipelines/steps/import-container-images.yaml
  pipelines/steps/install-helm-charts.yaml
  pipelines/steps/install-helmfile.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/update-group-variable-from-deployment.sh
  scripts/pipeline/update-group-variable.sh
Due: pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/install-helm-charts.yaml

Bicep search module, incorporate runtime bicep params
  bicep/bicepconfig.json
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/keyvault.bicep
  bicep/modules/search-role-assignment.bicep
  bicep/modules/search.bicep
  bicep/modules/sql.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Prevent heredoc from expanding/substituting
  pipelines/stages/deploy-bicep.yaml
Due: none

cat the bicepparam file after generating it
  pipelines/stages/deploy-bicep.yaml
Due: none

Specify explicit path for runtime.bicepparam
  pipelines/stages/deploy-bicep.yaml
Due: none

Declare new params
  bicep/main.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use `entraGroups` param directly, cannot be referenced without explicit `base.` prefix which is not as portable
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/search.bicep
  bicep/modules/sql.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing param declaration and references
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Download runtime.bicepparam to the bicep/ directory, hopefully bicepconfig.json is read when compiling
  pipelines/stages/deploy-bicep.yaml
Due: none

runtime.bicepparam needs the correct relative path to the env specific main.bicepparam
  pipelines/stages/deploy-bicep.yaml
Due: none

Specify bicep file in runtime params due to this bug: https://github.com/Azure/bicep/issues/18220
  pipelines/stages/deploy-bicep.yaml
Due: none

Bugfix: Search Service names must be lowercased
  bicep/envs/poc/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Save searchServiceName in library variable
  bicep/main.bicep
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Ensure bash does not try to subshell, set tracing
  pipelines/stages/entra-groups.yaml
Due: none

Change to regular job as output syntax is not the same
  pipelines/stages/entra-groups.yaml
Due: none

Retrieve entire result in json, as the value could be blank and selecting the value alone would yield false negative on existence check
  scripts/pipeline/update-group-variable.sh
Due: none

Doh! Not that dir
  scripts/pipeline/update-group-variable-from-deployment.sh
Due: none

Move variable storage into own stage for easier re-running
  pipelines/stages/deploy-bicep.yaml
Due: none

Syntax fixes
  pipelines/stages/deploy-bicep.yaml
Due: none

Bad dependency
  pipelines/stages/deploy-bicep.yaml
Due: none
