Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

[skip ci] build(deps): Bumping Chart version from `0.33.0` to `0.34.0`
  helm-charts/backoffice/Chart.yaml
Due: none

add approvedestablishment blob container
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Add `PROTOCOL` variable to dev bootstrap values in Helm chart
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

add messaging topic
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Support subscription definitions for Service Bus topics in Helm chart and update manifest pipelines with locking
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/envs/dev/bootstrap-values.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Normalize subscription name format in `dev/bootstrap-values.yaml`
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Remove manifest lock environment and simplify `UpdateManifest` stage handling in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Add `alvs-topic` to Service Bus topics in `dev/bootstrap-values.yaml`
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

mdm url
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Add blob storage contributors group handling to identity deployment script
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Adding Ranjan Majumdar as Admin
  pipelines/vars/common.yaml
Due: none

Simplify service value updates by removing redundant `SERVICE_NAME` usage in update-manifest script
  scripts/pipeline/update-manifest-service-values.sh
Due: none

Pass subscription name to pwsh script
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Tidy up displayNames for private endpoint tasks
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Fix display name
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

private-endpoint-dns: use feature branch for DEFRA-DEVOPS-COMMON repo
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Switch to v6 backport for subscription support in upstream private endpoint script
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Set ref for Defra.Pipeline.Common in infrastructure pipeline
  pipelines/infrastructure.yaml
Due: none

Switch infrastructure pipeline to self-hosted agents to speed up
  pipelines/infrastructure.yaml
Due: none

Remove check-health command as it does not work on ADO agents
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Move back to self-hosted runners everywhere as startup time for cloud agents is too slow
  pipelines/backoffice-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/install-helm-charts.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/legacy.yaml
  pipelines/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.57.0` to `0.58.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.34.0` to `0.35.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.20.0` to `0.21.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.18.0` to `0.19.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

Update networking & security groups for TST
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix up NSG rule priorities
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Configure kubelogin to use Azure CLI for authentication
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

No need for bicepparam artifact here
  pipelines/stages/deploy-bicep-privatelink.yaml
Due: pipelines/deploy-bicep.yaml

User groups are shared between environments, so only change them when running pipeline for DEV
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Use common library group, import more images to registry, install ms-identity-redirect-handler
  helm-charts/ms-identity-redirect-handler/Chart.yaml
  helm-charts/ms-identity-redirect-handler/templates/deployment.yaml
  helm-charts/ms-identity-redirect-handler/templates/ingress.yaml
  helm-charts/ms-identity-redirect-handler/templates/service.yaml
  helm-charts/ms-identity-redirect-handler/values.yaml
  pipelines/backoffice-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/legacy.yaml
  pipelines/private-endpoint-dns-records.yaml
  pipelines/stages/import-acr-artifacts.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml

Configure environment name for ms-identity-redirect-handler
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Update workload-identity-adal-bridge version
  pipelines/stages/import-acr-artifacts.yaml
Due: pipelines/import-acr-artifacts.yaml

Fix local path to ms-identity-redirect-handler chart
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml
