Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
  ...

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pipelines/webapp-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Package
    jobs:
    - job: ExtractVersionFromChart
      displayName: Extract Chart Version
      steps:
      - script: 'version=$(yq ''.version'' Chart.yaml)
  
          echo "##vso[task.setvariable variable=helmChartVersion;isOutput=true]$version"
  ...

Assign AcrPull IAM role to the AKS nodepool managed identity
  bicep/acr.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix file globs in aks-cluster pipeline
  pipelines/aks-cluster.yaml
Due: pipelines/aks-cluster.yaml

Look up the principalId for the AKS managed identity, re-order steps so the cluster is created before the ACR
  bicep/acr.bicep
  pipelines/aks-cluster.yaml
Due: pipelines/aks-cluster.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use earlier ManagedIdentity API
  bicep/acr.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use userAssignedIdentities API
  bicep/acr.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use latest stable AKS API, support assigning AcrPull for kubelet identity
  bicep/acr.bicep
  bicep/aks-cluster.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove legacy field
  bicep/aks-cluster.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Refactor Bicep templates and associated pipelines
  bicep/acr.bicep
  bicep/aks-peering.bicep
  bicep/bastion-peering.bicep
  bicep/bastion.bicep
  bicep/bicepconfig.json
  bicep/default-tags.json
  bicep/envs/poc/acr.parameters.json
  bicep/envs/poc/aks-cluster.parameters.json
  bicep/envs/poc/main.parameters.json
  bicep/envs/poc/resource-group.parameters.json
  bicep/envs/poc/virtual-network.parameters.json
  bicep/envs/tst/database-watcher.parameters.json
  bicep/jumpbox.bicep
  bicep/main.bicep
  bicep/modules/acr-role.bicep
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
  bicep/modules/network-security-groups.bicep
  bicep/modules/virtual-network.bicep
  bicep/network-security-group.bicep
  bicep/resource-group.bicep
  bicep/virtual-network.bicep
  pipelines/aks-cluster.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infrastructure.yaml
  pipelines/steps/import-container-images.yaml
Due: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

utcNow can only be used a a param default, not directly as variable value
  bicep/main.bicep
  bicep/resource-group.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix typo, run resource-group templates in subscription scope
  pipelines/infrastructure.yaml
Due: none

Specify location for sub-level deployment
  pipelines/infrastructure.yaml
Due: none

Add missing resource group name
  bicep/envs/poc/resource-group.parameters.json
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing param type and `existing` keyword, remove preview-only property `autoGeneratedDomainNameLabelScope`
  bicep/envs/poc/main.parameters.json
  bicep/modules/acr-role.bicep
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix mis-named input parameter
  bicep/envs/poc/main.parameters.json
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Refactor values.yaml and deployment.yaml: simplify replica settings, add initContainer support.
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.6 to 0.1.7
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Fix up deployment for database-watcher resource group
  pipelines/database-watcher.yaml
Due: pipelines/database-watcher.yaml

Simplify image configuration in values.yaml and deployment.yaml.
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.7 to 0.1.8
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Simplify image configuration: update `image` property type to string in `values.schema.json`.
  helm-charts/webapp/values.schema.json
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.8 to 0.1.9
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Remove `serviceAccountName` from deployment template in webapp chart.
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.9 to 0.1.10
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Remove unused `envFrom` configuration from deployment template in webapp chart.
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.10 to 0.1.11
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Don't apply resource-group for database-watcher
  pipelines/database-watcher.yaml
Due: pipelines/database-watcher.yaml

Add dummy parameters for database-watcher in POC environment
  bicep/envs/poc/database-watcher.parameters.json
Due: pipelines/database-watcher.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Dynamically source subnet IDs from vnet module
  bicep/envs/poc/main.parameters.json
  bicep/main.bicep
  bicep/modules/acr.bicep
  bicep/modules/virtual-network.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove todo comment
  bicep/modules/acr.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix bad stage name
  pipelines/import-acr-artifacts.yaml
Due: pipelines/import-acr-artifacts.yaml

Bugfix: set correct vnet name
  bicep/modules/virtual-network.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Import jetstack/cert-manager-controller container image into our registry
  pipelines/steps/import-container-images.yaml
Due: none

Self-host additional cert-manager images used by Helm chart
  pipelines/steps/import-container-images.yaml
Due: none

Install cert-manager into cluster
  pipelines/infrastructure.yaml
Due: none

Move static config for cert-manager into values file, also enable CRDs
  helm-charts/cert-manager-values.yaml
  pipelines/infrastructure.yaml
Due: none

Add support for environment variable configuration in deployment template of webapp chart.
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.11 to 0.1.12
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Standalone pipeline to install/update helm charts when configuration values change
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/steps/install-helm-charts.yaml
Due: none

Add liveness probe configuration to deployment template in webapp chart.
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.12 to 0.1.13
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/**/acr*.json, bicep/**/aks-cluster*.json, bicep/**/network-security-group*.json, bicep/**/virtual-network*.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/**/database-watcher*.json, pipelines/database-watcher.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
