Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Add PRE1 group to `remove-entra-group-members.yaml` pipeline
  pipelines/remove-entra-group-members.yaml
Due: none

Bugfix: ensure correct service connection is used for ACR access groups, to align with group ownership
  pipelines/stages/infra-permissions.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: pipelines/infra-permissions.yaml

updated prometheus api to latest stable
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

retained properties for prometheus
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

missing braces fix
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

enableAccessUsingResourcePermissions: false
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

feat: add Grafana MI role assignments for Monitoring Reader and Monitoring Data Reader
  bicep/40-infra.bicep
  bicep/modules/monitoring.bicep
  bicep/modules/prometheus-role-assignment.bicep
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Jobs need `workload-identity-adal-bridge` to use MI
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/cronjob_test.yaml
  helm-charts/job/tests/scaledjob_test.yaml
Due: pipelines/job-chart.yaml

Change QA automation nightly schedule to 06:00
  pipelines/qa-automation-nightly.yaml
Due: none

Restrict qa-automation nightly schedule to weekdays (Mon-Fri)
  pipelines/qa-automation-nightly.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.55.0` to `0.56.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.52.0` to `0.53.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.67.0` to `0.68.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.56.0` to `0.57.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Monitoring pipeline to deploy Grafana dashboards
  grafana-dashboards/dashboards/IPAFFS_AKS_Stack.json
  grafana-dashboards/scripts/configure-grafana.sh
  grafana-dashboards/scripts/deploy-dashboards.sh
  grafana-dashboards/scripts/export-dashboard.sh
  grafana-dashboards/tests/validate-dashboards.sh
  pipelines/grafana-dashboards.yaml
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

Replacing hardcoded values with template references
  grafana-dashboards/scripts/deploy-dashboards.sh
  grafana-dashboards/scripts/export-dashboard.sh
  grafana-dashboards/tests/validate-dashboards.sh
  pipelines/grafana-dashboards.yaml
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: none

Update cutover pipeline
  scripts/pipeline/toggle-service-stack.sh
Due: none

IMTA-21510 Log IPAFFS service status before QA automation run
  pipelines/qa-automation.yaml
Due: none

change pipeline name
  pipelines/qa-automation.yaml
Due: none

Get Resource name from bicep output,Replace DEV dropdown
  bicep/40-infra.bicep
  bicep/modules/monitoring.bicep
  pipelines/grafana-dashboards.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Pin subscription in Azure CLI task
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

datasource name and subid fix
  grafana-dashboards/dashboards/IPAFFS_AKS_Stack.json
  grafana-dashboards/scripts/deploy-dashboards.sh
Due: none

Add TST environment to qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Add VNET environment to qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Comment out DEV variable group and AKS status logging task in qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Add Testing variable group to qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Use qaAutomationServiceConnection variable in AzureCLI tasks
  pipelines/qa-automation.yaml
Due: none

disable acr public access
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Uncomment and refactor AKS status logging task with environment variables
  pipelines/qa-automation.yaml
Due: none

Fix environment parameter reference in AKS status logging condition
  pipelines/qa-automation.yaml
Due: none

Add variable group mappings for NEW environment variants in qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Add environment-specific variable templates and fix group name casing in qa-automation pipeline
  pipelines/qa-automation.yaml
Due: none

Debug Log AKS Service Status step
  pipelines/qa-automation.yaml
Due: none

Use serviceConnection variable
  pipelines/qa-automation.yaml
Due: none

Simplify environment-specific variable group selection using dynamic expressions
  pipelines/qa-automation.yaml
Due: none

Replace dynamic environment name expressions with explicit conditional mappings for variable groups and templates
  pipelines/qa-automation.yaml
Due: none

Refactor environment configuration using dynamic expressions and move AKS status logging to compile-time conditional
  pipelines/qa-automation.yaml
Due: none

Add conditional check for NEW environment variants before loading variable groups and templates
  pipelines/qa-automation.yaml
Due: none

Grafana role assignments to users and ADO SP
  bicep/40-infra.bicep
  bicep/modules/grafana-role-assignment.bicep
  bicep/modules/monitoring.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml
