Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Add vnet NSG Rule
  bicep/envs/poc/main.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add Bicep module for monitoring resources creation
  bicep/main.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

fix webapp chart deployment client id
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add Bicep module for monitoring resources creation
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.4.1` to `0.5.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Include `feature/imta-20710` branch in deploy-bicep pipeline trigger
  pipelines/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Comment out branch condition in deploy-bicep pipeline steps
  pipelines/steps/deploy-bicep.yaml
Due: none

Comment out branch condition in deploy-bicep pipeline steps
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Expose KeyVault values
  bicep/main.bicep
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Comment out branch condition in deploy-bicep pipeline steps
  pipelines/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Comment out branch condition in deploy-bicep pipeline steps
  bicep/main.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Pass Log Analytics ID to AKS module
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Pass Log Analytics ID to AKS module
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Pass Log Analytics ID to AKS module
  pipelines/steps/deploy-bicep.yaml
Due: none

Add External Secrets helm chart
  helm-charts/external-secrets-values.yaml
  pipelines/steps/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Enable Azure Monitor metrics for AKS module
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

import external-secrets/external-secrets image to ACR
  pipelines/steps/import-container-images.yaml
Due: pipelines/import-acr-artifacts.yaml

set external-secrets image repository
  pipelines/steps/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

IMTA-19949: node app templates
  pipelines/jobs/build-node-project.yaml
  pipelines/jobs/package-node-project.yaml
Due: none

add external-secrets-azure chart to add a ClusterSecretStore
  helm-charts/external-secrets-azure/Chart.yaml
  helm-charts/external-secrets-azure/templates/_helpers.tpl
  helm-charts/external-secrets-azure/templates/clustersecretstore.yaml
  helm-charts/external-secrets-azure/templates/service-principal-secret.yaml
  helm-charts/external-secrets-azure/values.yaml
  pipelines/steps/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

DONTMERGE: pipeline testing
  pipelines/stages/entra-groups.yaml
Due: none

Create Entra groups for Azure SQL
  pipelines/entra-groups.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

Refactor principal management scripts
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/bump-semver.sh
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-principal.sh
  scripts/pipeline/package-and-push-chart.sh
  scripts/pipeline/update-chart-version.sh
Due: none

Look up principal object ID for default service connection and specify group owners
  pipelines/stages/entra-groups.yaml
Due: none

Fix syntax error
  scripts/pipeline/lookup-principal.sh
Due: none

logic bug
  scripts/pipeline/create-entra-group.sh
Due: none

rename script
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
Due: none

rename variables, remove unused task inputs
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
Due: none

ensure an output variable is set
  scripts/pipeline/lookup-directory-object.sh
Due: none

Set multiple group owners
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

syntax & logic error
  scripts/pipeline/create-entra-group.sh
Due: none

newline escape sequence not paraed, remove
  scripts/pipeline/create-entra-group.sh
Due: none
