Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Update JWT_WELL_KNOWNS value in DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Remove JWT_JWKS value from DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

JWT_JWKS
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Spike: test pipeline for using az cli and dependant tools with secondary azure subscriptions
  pipelines/aks-test.yml
Due: none

floop
  pipelines/aks-test.yml
Due: none

az account show
  pipelines/aks-test.yml
Due: none

consolidate
  pipelines/aks-test.yml
Due: none

kubelogin
  pipelines/aks-test.yml
Due: none

build java project
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-template.yaml
Due: none

build java project
  pipelines/templates/java-template.yaml
Due: none

grabconfig
  pipelines/aks-test.yml
Due: none

Add configMapRef entries for `ipaffs-config` and `.Values.service` in database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.36.0` to `0.37.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

token
  pipelines/aks-test.yml
Due: none

Create Entra groups for AKS
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml

Add service connection principal to AKS Admins group
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Remove `hook-succeeded` from `hook-delete-policy` in database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.37.0` to `0.38.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.38.0` to `0.39.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

AKS data plane role assignments
  bicep/modules/aks-role-assignment.bicep
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing param
  bicep/30-infra.bicep
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add pre-install and pre-upgrade hooks with delete policy and weight to webapp ConfigMap template
  helm-charts/webapp/templates/configmap.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.39.0` to `0.40.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add support for environment variable mapping in database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.40.0` to `0.41.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add `hook-succeeded` to `hook-delete-policy` in database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.41.0` to `0.42.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Explicitly disabled privatelink service / private endpoint network policies on subnet 3
  bicep/envs/dev/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

new services deploy ipaffs
  pipelines/deploy-ipaffs.yaml
Due: none

Fix output var reference
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

bcp admin frontend
  pipelines/deploy-ipaffs.yaml
Due: none

Add Entra groups for Key Vault
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Enable Azure RBAC for Key Vault and assign roles to groups
  bicep/30-infra.bicep
  bicep/modules/keyvault-role-assignment.bicep
  bicep/modules/keyvault.bicep
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign `Key Vault Secrets Reader` to identity for external-secrets operator
  bicep/30-infra.bicep
  bicep/modules/external-secrets-identity.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove unused params
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix up output ref, remove unused object merge, add missing var, allow setting PrincipalType
  bicep/30-infra.bicep
  bicep/modules/external-secrets-identity.bicep
  bicep/modules/keyvault-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

add missing location
  bicep/modules/external-secrets-identity.bicep
  bicep/modules/keyvault-role-assignment.bicep
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

decision frontend
  pipelines/deploy-ipaffs.yaml
Due: none
