Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Use `lower` function for `resourceGroupName` in AzureCLI task configuration
  pipelines/group.yaml
Due: none

test
  pipelines/group.yaml
Due: none

toast
  pipelines/group.yaml
Due: none

exp-backoff
  pipelines/group.yaml
Due: none

retry group membership
  pipelines/group.yaml
Due: none

syntax
  pipelines/group.yaml
Due: none

set -e doh
  pipelines/group.yaml
Due: none

escapé
  pipelines/group.yaml
Due: none

dial down retries to approx 5 min max window
  pipelines/group.yaml
Due: none

fail on token error
  pipelines/group.yaml
Due: none

Configure Entra Workload ID
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

Add Azure Pipeline template for deploying and configuring identity infrastructure
  pipelines/stages/deploy-identities.yaml
Due: none

Bugfix: rename Kusto cluster for DB Watcher to avoid Managed Identity displayName clash for SQL user
  bicep/envs/prd/legacy.bicepparam
  bicep/envs/pre/legacy.bicepparam
  bicep/envs/snd/legacy.bicepparam
  bicep/envs/tst/legacy.bicepparam
  bicep/modules/database-watcher.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Add Azure Pipeline template for deploying and configuring identity infrastructure
  helm-charts/webapp/templates/managed-identities.yaml
Due: pipelines/webapp-pipeline.yaml
