Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/modules/*.bicep, bicep/**/30-infra.bicepparam, bicep/**/10-10-resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/privatelink-dns-records.yaml, pipelines/stages/privatelink-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Add PrivateLink deployment to pipeline
  bicep/40-privatelink.bicep
  bicep/envs/dev/40-privatelink.bicepparam
  bicep/envs/tst/40-privatelink.bicepparam
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Move load balancer resource out of module so it can be calculated ahead of the module deployment
  bicep/40-privatelink.bicep
  bicep/modules/privatelink.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

deploy ipaffs new services
  pipelines/deploy-ipaffs.yaml
Due: none

removed duplicate enotification-event
  pipelines/deploy-ipaffs.yaml
Due: none

fix deploy ipaffs
  pipelines/deploy-ipaffs.yaml
Due: none

add soapsearch to deploy ipaffs
  pipelines/deploy-ipaffs.yaml
Due: none

Add ConfigMap template to job Helm chart for environment configuration
  helm-charts/job/templates/configmap.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.12.0` to `0.13.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Move database connection string configuration from deployment templates to ConfigMaps for webapp and job charts
  helm-charts/job/templates/configmap.yaml
  helm-charts/job/templates/cronjob.yaml
  helm-charts/webapp/templates/configmap.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.13.0` to `0.14.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.35.0` to `0.36.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Update deploy-ipaffs pipeline to reference master branch for ipaffs-archive-notifications-microservice
  pipelines/deploy-ipaffs.yaml
Due: none

add proxy login muxer
  pipelines/deploy-ipaffs.yaml
Due: none

Add missing bicep params for TST
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

remove proxy login muxer
  pipelines/deploy-ipaffs.yaml
Due: none

More missing bicep params in TST
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add new queues to DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Fix queue names in DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Set up action group to notify DBA, create alert rule for SQL Elastic Job Agent
  bicep/30-infra.bicep
  bicep/90-legacy.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/prd/90-legacy.bicepparam
  bicep/envs/pre/90-legacy.bicepparam
  bicep/envs/snd/90-legacy.bicepparam
  bicep/envs/tst/30-infra.bicepparam
  bicep/modules/alerts.bicep
  bicep/modules/sql-elastic-jobs.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Make action group receiver names unique
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/prd/90-legacy.bicepparam
  bicep/envs/pre/90-legacy.bicepparam
  bicep/envs/snd/90-legacy.bicepparam
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Add missing property to alert rule
  bicep/modules/sql-elastic-jobs.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Configure alerts module in TST, fix up naming for action groups
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/prd/90-legacy.bicepparam
  bicep/envs/pre/90-legacy.bicepparam
  bicep/envs/snd/90-legacy.bicepparam
  bicep/envs/tst/90-legacy.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

v7 memory optimised instances are now available in AKS, and Microsoft has run out of Eas_v6 hosts
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update deploy-ipaffs pipeline to reference master branch for economicoperator-microservice
  pipelines/deploy-ipaffs.yaml
Due: none

Update deploy-ipaffs pipeline to correct repository name for approvedestablishment-service
  pipelines/deploy-ipaffs.yaml
Due: none

Update deploy-ipaffs pipeline to correct repository name for commoditycode-service
  pipelines/deploy-ipaffs.yaml
Due: none

Increase `max_attempts` in wait-for-group-membership script from 10 to 30 to allow more retries.
  scripts/pipeline/wait-for-group-membership.sh
Due: none

Update deploy-ipaffs pipeline to correct service and repository names for approvedestablishment, commoditycode, and economicoperator services
  pipelines/deploy-ipaffs.yaml
Due: none

Update deploy-ipaffs pipeline to correct service and pipeline name for economicoperator-service
  pipelines/deploy-ipaffs.yaml
Due: none

Split deploy-bicep stage template so we can better express dependencies
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/private-endpoint-dns-records.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/deploy-bicep-resource-group.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/deploy-bicep.yaml

Fix pipeline triggers, remove old stage template
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml

deploy ipaffs
  pipelines/deploy-ipaffs.yaml
Due: none

Specify subscription name for service connections that span subscriptions, and stop importing nginx-ingress container as we don't use it any more
  pipelines/stages/import-acr-artifacts.yaml
Due: pipelines/import-acr-artifacts.yaml

notification frontend debug
  pipelines/deploy-ipaffs.yaml
Due: none

Update JWT_CERT_ISSUER value in DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Add JWT_CLIENT_ID value to DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Try to set Azure subscription for Kubernetes tasks
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml
