Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/infrastructure.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/infrastructure.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Typo fix!
  pipelines/steps/import-container-images.yaml
Due: none

Import azureserviceoperator image into our registry
  pipelines/steps/import-container-images.yaml
Due: none

Enable OIDC issuer on AKS cluster
  bicep/modules/aks.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Install azure-service-operator helm chart
  helm-charts/azure-service-operator-values.yaml
  pipelines/steps/install-helm-charts.yaml
Due: none

Configuration for azure-service-operator
  bicep/envs/poc/main.parameters.json
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/modules/azure-service-operator.bicep
  pipelines/infrastructure.yaml
  pipelines/steps/install-helm-charts.yaml
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Perform dry-run helm installation for PRs
  pipelines/install-helm-charts.yaml
Due: none

Typo fix, declare param, set default param for resource group ID, remove properties as reported readonly
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/modules/azure-service-operator.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Cannot calculate principalId at start of deployment, use name instead as seed for GUID
  bicep/modules/azure-service-operator.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Fix contributor role id
  bicep/modules/azure-service-operator.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Permissions
  pipelines/permissions.yaml
Due: none

specify object id
  pipelines/permissions.yaml
Due: none

Create SQL Server & Elastic Pool, configure ASO separately
  bicep/default-tags.json
  bicep/envs/poc/main.parameters.json
  bicep/main.bicep
  bicep/modules/sql.bicep
  helm-charts/azure-service-operator-config-values.yaml
  helm-charts/azure-service-operator-config/Chart.yaml
  helm-charts/azure-service-operator-config/templates/secret.yaml
  helm-charts/azure-service-operator-config/values.yaml
  helm-charts/azure-service-operator-values.yaml
  pipelines/infrastructure.yaml
  pipelines/steps/install-helm-charts.yaml
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Set up PrivateLink for SQL Server
  bicep/main.bicep
  bicep/modules/sql.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Fix tenantId references when applying Bicep
  pipelines/infrastructure.yaml
Due: pipelines/infrastructure.yaml

Split Bicep tasks into own pipeline and reusable steps. Infrastructure pipeline to be run manually
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/infrastructure.yaml

Specify parameters for Bicep steps
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/infrastructure.yaml

Trigger deploy-bicep pipeline when steps change
  pipelines/deploy-bicep.yaml
Due: none

Enable CRDs for ManagedIdentity
  helm-charts/azure-service-operator-values.yaml
Due: none

Use bicep param files instead of JSON parameters
  bicep/database-watcher.bicep
  bicep/envs/poc/database-watcher.bicepparam
  bicep/envs/poc/database-watcher.parameters.json
  bicep/envs/poc/main.bicepparam
  bicep/envs/poc/main.parameters.json
  bicep/envs/poc/network-security-group.parameters.json
  bicep/envs/poc/resource-group.bicepparam
  bicep/envs/poc/resource-group.parameters.json
  bicep/main.bicep
  bicep/resource-group.bicep
Due: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Update pipelines for bicep param files
  pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/database-watcher.yaml

Refactor database-watcher into bicep module and set up "legacy" pipeline
  bicep/envs/poc/database-watcher.bicepparam
  bicep/envs/snd/legacy.bicepparam
  bicep/envs/tst/database-watcher.parameters.json
  bicep/envs/tst/legacy.bicepparam
  bicep/legacy.bicep
  bicep/modules/database-watcher.bicep
  pipelines/legacy.yaml
Due: pipelines/database-watcher.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Adjust paths on deploy-bicep pipeline
  pipelines/deploy-bicep.yaml
Due: none

Add missing pipeline vars for SND
  pipelines/vars/snd.yaml
Due: none

Configure SQL Elastic jobs for SND & TST
  bicep/envs/snd/legacy.bicepparam
  bicep/envs/tst/legacy.bicepparam
  bicep/legacy.bicep
  bicep/modules/sql-elastic-jobs.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Fix up resource ID reference
  bicep/modules/sql-elastic-jobs.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Drop the user node pool to reduce the node count to 1 as a workaround whilst we continue to resolve the intra-node networking issues
  bicep/envs/poc/main.bicepparam
  bicep/modules/aks.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Add database provisioning and migration support to webapp chart
  helm-charts/webapp/Chart.yaml
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/database.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.14 to 0.1.15
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Support for legacy PRE and PRD environments (DB Watcher and SQL Elastic Jobs)
  bicep/envs/prd/legacy.bicepparam
  bicep/envs/pre/legacy.bicepparam
  pipelines/legacy.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set display names for pipeline parameters
  pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/legacy.yaml
Due: pipelines/import-acr-artifacts.yaml, pipelines/infrastructure.yaml

wip group
  pipelines/group.yaml
Due: none

Update group.yaml for Azure Pipelines
  pipelines/group.yaml
Due: none

group members
  pipelines/group.yaml
Due: none

f
  pipelines/group.yaml
Due: none

Set correct admin group for SQL server
  bicep/bicepconfig.json
  bicep/envs/poc/main.bicepparam
  bicep/modules/sql.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/infrastructure.yaml

Expanded set of CRDs for Azure Service Operator
  helm-charts/azure-service-operator-values.yaml
Due: none

Update ingress-nginx-values.yaml
  helm-charts/ingress-nginx-values.yaml
Due: none

Update install-helm-charts.yaml
  pipelines/install-helm-charts.yaml
Due: none

Update install-helm-charts.yaml
  pipelines/steps/install-helm-charts.yaml
Due: none

Remove duplicate owner
  pipelines/group.yaml
Due: none
