Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

imta-21647: role assignment
  bicep/45-infra-to-classic.bicep
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
  bicep/envs/tst/45-infra-to-classic.bicepparam
  bicep/modules/monitoring-to-classic.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

imta-21647: role assignment
  bicep/45-infra-to-classic.bicep
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
  bicep/envs/tst/45-infra-to-classic.bicepparam
  bicep/modules/monitoring-to-classic.bicep
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

pipelines: add SonarQube analysis to java library template
  pipelines/jobs/sonar-analyse-java-library.yaml
  pipelines/templates/java-library-template.yaml
Due: none

Remove SonarQube analysis job for Java libraries
  pipelines/jobs/sonar-analyse-java-library.yaml
Due: none

Move SonarQube analysis into build job for Java libraries
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-library-template.yaml
Due: none

Change default SonarQube reference branch from main to master
  pipelines/jobs/build-java-project.yaml
  pipelines/steps/sonar-scan.yaml
  pipelines/templates/java-library-template.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Debug Node.js test execution in SonarQube analysis job
  pipelines/jobs/sonar-analyse-node-project.yaml
Due: none

routing-checker: update for new vanity domains
  scripts/tools/routing-checker/routing-check.sh
Due: none

routing-checker: fix parallelism validation
  scripts/tools/routing-checker/routing-check.sh
Due: none

IMTA-21697: Add Mocha Test Suite run to the node build pipeline.
  pipelines/jobs/build-node-project.yaml
  pipelines/jobs/sonar-analyse-node-project.yaml
  pipelines/templates/node-template.yaml
Due: none

IMTA-21696: fix view logs.
  grafana-dashboards/dashboards/IPAFFSServiceOverview.json
Due: none

Configurable domain for redirector
  helm-charts/ms-identity-redirect-handler/templates/deployment.yaml
  helm-charts/ms-identity-redirect-handler/values.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: pipelines/install-helm-charts.yaml

Simplify, use single runtime argument
  helm-charts/ms-identity-redirect-handler/templates/deployment.yaml
  helm-charts/ms-identity-redirect-handler/values.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

remove env key support
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/configmap_test.yaml
  helm-charts/job/tests/cronjob_test.yaml
  helm-charts/job/tests/scaledjob_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/configmap_test.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
  helm-charts/webapp/tests/deployment_test.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.59.0` to `0.60.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.117.0` to `0.118.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-21617 Support configurable connection keys
  helm-charts/backoffice/templates/service-bus.yaml
  helm-charts/backoffice/tests/service_bus_test.yaml
  helm-charts/backoffice/values.schema.json
  helm-charts/backoffice/values.yaml
  helm-charts/job/templates/configmap.yaml
  helm-charts/job/tests/configmap_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.60.0` to `0.61.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.70.0` to `0.71.0`
  helm-charts/backoffice/Chart.yaml
Due: none

IMTA-21617 Replace manifest values on skipped builds
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: none

IMTA-21617 Remove legacy config values support
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: none

Remove `-new` URLs and associated logic
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
  helm-charts/envs/prd/bootstrap-values.yaml
  helm-charts/envs/pre/bootstrap-values.yaml
  helm-charts/envs/tst/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.60.0` to `0.61.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.71.0` to `0.72.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.118.0` to `0.119.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

configurable dashboard label and optional URL
  scripts/pipeline/generate-deployment-notification.sh
Due: none

Add source provenance to manifest commits
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/create-manifest-commit.sh
  scripts/pipeline/create-manifest-commit.test.sh
Due: none

Reduce Helmfile pipeline logging
  pipelines/jobs/deploy-chart.yaml
Due: none

Reuse Azure CLI session for chart deployment
  pipelines/jobs/deploy-chart.yaml
Due: none

Cache Helmfile deployment toolchain
  pipelines/jobs/deploy-chart.yaml
Due: none

Simplify Helmfile toolchain cache
  pipelines/jobs/deploy-chart.yaml
Due: none

Batch ASO identity readiness checks
  .github/workflows/pipeline-syntax.yaml
  scripts/pipeline/wait-for-aso-identities-from-services.sh
  scripts/pipeline/wait-for-aso-identities-from-services.test.sh
Due: none

Use batched ASO identity checks by default
  scripts/pipeline/wait-for-aso-identities-from-services.sh
  scripts/pipeline/wait-for-aso-identities-from-services.test.sh
Due: none

Skip existing Entra group members
  .github/workflows/pipeline-syntax.yaml
  scripts/pipeline/add-entra-group-members.sh
  scripts/pipeline/add-entra-group-members.test.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Skip unchanged managed identity writes
  .github/workflows/pipeline-syntax.yaml
  scripts/pipeline/create-identity.sh
  scripts/pipeline/create-identity.test.sh
  scripts/pipeline/deploy-identities-from-services.sh
  scripts/pipeline/deploy-identities-from-services.test.sh
Due: none

Add CCTS engineers to lower envs readers group
  pipelines/vars/common.yaml
Due: none

Preserve deployment control for missing manifest environments
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: none

Allow chart deployment to wait for ASO identities
  pipelines/jobs/deploy-chart.yaml
Due: none

Expose generic post-deployment steps in chart job
  pipelines/jobs/deploy-chart.yaml
Due: none

Record chart deployments directly in ADO environments
  pipelines/jobs/deploy-chart.yaml
  pipelines/steps/deploy-chart.yaml
  pipelines/update-manifest-infra-ref.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
