Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

agent tool checks mini ppipeline
  pipelines/agent-tools-check.yaml
Due: none

added browser checks
  pipelines/agent-tools-check.yaml
Due: none

Bicep module for KeyVault
  .gitignore
  bicep/envs/poc/main.bicepparam
  bicep/keyvault.bicep
  bicep/main.bicep
  bicep/modules/acr.bicep
  bicep/modules/keyvault.bicep
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

fix up tenantId reference
  bicep/main.bicep
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

refactor: template out pipelines
  pipelines/stages/deploy-chart.yaml
Due: none

Refactor role assignment into separate submodule to aid with dependency resolution / compile-time guid generation
  bicep/modules/acr-role-assignment.bicep
  bicep/modules/aks.bicep
  bicep/modules/azure-service-operator.bicep
  bicep/modules/rg-role-assignment.bicep
  bicep/modules/vnet-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update ADO library group variables after bicep deployment
  pipelines/steps/deploy-bicep.yaml
Due: none

Thread a `deploymentId` to be used as a suffix for all bicep/arm deployments, to guard against `DeploymentActive` errors
  bicep/legacy.bicep
  bicep/main.bicep
  bicep/modules/acr-role-assignment.bicep
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
  bicep/modules/azure-service-operator.bicep
  bicep/modules/database-watcher.bicep
  bicep/modules/keyvault.bicep
  bicep/modules/network-security-groups.bicep
  bicep/modules/rg-role-assignment.bicep
  bicep/modules/sql-elastic-jobs.bicep
  bicep/modules/sql.bicep
  bicep/modules/virtual-network.bicep
  bicep/modules/vnet-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

set -x
  pipelines/steps/deploy-bicep.yaml
Due: none

Wait for bicep deployment before returning
  pipelines/steps/deploy-bicep.yaml
Due: none

Find the variable group ID, not the name
  pipelines/steps/deploy-bicep.yaml
Due: none

Output acrName and save to variable group
  bicep/main.bicep
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Output aksOidcIssuer, kubernetesCluster, and sqlAdminGroupId, and save to variable group
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/modules/sql.bicep
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Split out library group variable update script to own file
  pipelines/steps/deploy-bicep.yaml
  scripts/pipeline/update-group-variable.sh
Due: none

chmod +x
  scripts/pipeline/update-group-variable.sh
Due: none

set -e, re-enable main branch condition
  pipelines/steps/deploy-bicep.yaml
  scripts/pipeline/update-group-variable.sh
Due: none

add missing param type
  bicep/legacy.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

first attempt at setting privatelink dns records for sql server
  pipelines/privatelink-dns-records.yaml
Due: none

Store SQL Server name in library variable group
  bicep/main.bicep
  bicep/modules/sql.bicep
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Move privatelink dns pipeline into stage template
  pipelines/privatelink-dns-records.yaml
  pipelines/stages/privatelink-dns-records.yaml
Due: none

Set PrivateLink DNS for Container Registry
  pipelines/stages/privatelink-dns-records.yaml
Due: none

Conditionally set DNS records when running pipeline from main branch
  pipelines/stages/privatelink-dns-records.yaml
Due: none

Add triggers for privatelink-dns-records pipeline
  pipelines/privatelink-dns-records.yaml
Due: none

Support configurable namespace for Helm Chart deployments
  pipelines/stages/deploy-chart.yaml
Due: none

Add privatelink-dns-records stage to infrastructure pipeline
  pipelines/infrastructure.yaml
Due: none

fix location reference
  pipelines/stages/deploy-chart.yaml
Due: none

disable redis by default
  helm-charts/backoffice/values.yaml
Due: none

pretty spacing
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: none

reference root instead of loop scope
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

bump backoffice chart version
  helm-charts/backoffice/Chart.yaml
Due: none

set minimumTlsVersion for SB Namespaces with ASO
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

quote enum value
  helm-charts/backoffice/templates/service-bus.yaml
Due: none
