Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Update SonarQube scanner to use workspace-relative cache and working directories
  pipelines/steps/sonar-scan.yaml
Due: none

Clean up coverage directory and switch to posttest-jenkins script in Node.js Sonar job
  pipelines/jobs/sonar-analyse-node-project.yaml
Due: none

Update comment formatting for consistency in Java Sonar job
  pipelines/jobs/sonar-analyse-java-project.yaml
Due: none

Remove outdated comments about SonarQube test instance and stage dependencies
  pipelines/templates/node-template.yaml
  pipelines/vars/common.yaml
Due: none

Parameterize SonarQube scanner image version in pipeline variables
  pipelines/steps/sonar-scan.yaml
  pipelines/vars/common.yaml
Due: none

IMTA-21644: Generic script to send deployment messages to slack
  scripts/pipeline/generate-deployment-notification.sh
Due: none

Remove green colour from validator notification
  scripts/pipeline/generate-validator-notification.sh
Due: none

Remove color attribute from validator notification attachment
  scripts/pipeline/generate-validator-notification.sh
Due: none

routing-checker: output cookie values for both URL types
  scripts/tools/routing-checker/routing-check.sh
Due: none

routing-checker: output cookie values again if they change
  scripts/tools/routing-checker/routing-check.sh
Due: none

fix: infra to classic
  pipelines/deploy-bicep.yaml
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml

fix: infra to classic
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: none

IMTA-21683: Update Application Overview dashboard versions panel.
  grafana-dashboards/dashboards/IPAFFSApplicationOverview.json
Due: none

grafana cross subscription
  bicep/45-infra-to-classic.bicep
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
  bicep/envs/tst/45-infra-to-classic.bicepparam
  bicep/modules/grafana-role-assignment.bicep
  bicep/modules/monitoring-to-classic.bicep
  bicep/modules/prometheus-role-assignment.bicep
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

grafana cross subscription
  bicep/modules/grafana-role-assignment.bicep
  bicep/modules/prometheus-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

grafana id lookup
  bicep/40-infra.bicep
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
  bicep/envs/tst/45-infra-to-classic.bicepparam
  bicep/modules/grafana-role-assignment-to-classic.bicep
  bicep/modules/monitoring-to-classic.bicep
  bicep/modules/monitoring.bicep
  bicep/modules/prometheus-role-assignment-to-classic.bicep
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

grafana id lookup
  bicep/45-infra-to-classic.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

grafana id lookup
  bicep/modules/grafana-role-assignment-to-classic.bicep
  bicep/modules/prometheus-role-assignment-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

grafana id lookup
  bicep/45-infra-to-classic.bicep
  bicep/modules/grafana-role-assignment-to-classic.bicep
  bicep/modules/prometheus-role-assignment-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

role assignment inline
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/monitoring.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

role assignment inline
  bicep/40-infra.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

role assignment inline
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

role assignment inline
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

routing-checker: add parallel no-wait mode
  scripts/tools/routing-checker/README.md
  scripts/tools/routing-checker/routing-check.sh
Due: none

routing-checker: ensure parallelism does not exceed specified request count
  scripts/tools/routing-checker/routing-check.sh
Due: none

remove deploy bicep infra to classic
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/deploy-bicep.yaml

Remove Maven build step and parameter from SonarQube analysis job
  pipelines/jobs/sonar-analyse-java-project.yaml
  pipelines/templates/java-template.yaml
Due: none

Domain matching and vanity URLs to be configured separately
  helm-charts/bootstrap/templates/configmap.yaml
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.58.0` to `0.59.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.69.0` to `0.70.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.116.0` to `0.117.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.59.0` to `0.60.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

IMTA-21692: QA Dashboard update
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

IMTA-21692: trim panel/variable descriptions
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

Strip control characters from test results and log failing tests in Node.js Sonar job
  pipelines/jobs/sonar-analyse-node-project.yaml
Due: none

Revert "Strip control characters from test results and log failing tests in Node.js Sonar job"
  pipelines/jobs/sonar-analyse-node-project.yaml
Due: none
