Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

IMTA-21645: Turn the deploy grafana dashboards pipeline into a single pipeline.
  pipelines/grafana-dashboards.yaml
  pipelines/stages/approve-grafana-gate.yaml
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

IMTA-21645: Turn the deploy grafana dashboards pipeline into a single pipeline - add .
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

IMTA-21645: remove branch deploy logic.
  pipelines/grafana-dashboards.yaml
  pipelines/stages/approve-branch-deploy-gate.yaml
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

IMTA-21645: cleanup.
  pipelines/grafana-dashboards.yaml
Due: none

imta-21631: ado pipelines
  pipelines/jobs/release-java-project.yaml
  pipelines/templates/java-library-template.yaml
Due: none

imta-21631: ado pipelines
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-library-template.yaml
Due: none

imta-21631: ado pipelines
  pipelines/jobs/build-java-project.yaml
Due: none

Read access for Pete Anning
  pipelines/vars/common.yaml
Due: none

imta-21631: ado pipelines
  pipelines/jobs/release-java-project.yaml
Due: none

Show routing affinity cookies
  scripts/tools/routing-checker/routing-check.sh
Due: none

Show routing cookies per origin
  scripts/tools/routing-checker/routing-check.sh
Due: none

IMTA-21645: cleanup.
  pipelines/grafana-dashboards.yaml
  pipelines/stages/approve-branch-deploy-gate.yaml
  pipelines/stages/configure-grafana.yaml
  pipelines/stages/deploy-grafana-dashboards.yaml
Due: none

IMTA-21645: cleanup timeouts.
  pipelines/stages/approve-branch-deploy-gate.yaml
  pipelines/stages/approve-grafana-gate.yaml
Due: none

Innocuous change
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

IMTA-21648: rename and delete dashboards.
  grafana-dashboards/dashboards/IPAFFSServiceOverview.json
  grafana-dashboards/dashboards/IPAFFS_AKS_Ops.json
  grafana-dashboards/dashboards/IPAFFS_AKS_Stack.json
  grafana-dashboards/dashboards/IPAFFS_APPS_OVERVIEW.json
Due: none

imta-21631: optional publish
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-library-template.yaml
Due: none

IMTA-21648: rename and delete dashboards.
  grafana-dashboards/dashboards/IPAFFSApplicationOverview.json
  grafana-dashboards/dashboards/IPAFFSPlatformOverview.json
Due: none

IMTA-21648: cleanup tags.
  grafana-dashboards/dashboards/IPAFFSApplicationOverview.json
  grafana-dashboards/dashboards/IPAFFSPlatformOverview.json
Due: none

IMTA-21630: Flipped useLiveUrls to true for PRD
  helm-charts/envs/prd/bootstrap-values.yaml
Due: none

IMTA-21645: fix post DEV condition.
  pipelines/grafana-dashboards.yaml
  pipelines/stages/approve-grafana-gate.yaml
Due: none

chore: abi prd account
  pipelines/vars/common.yaml
Due: none

update higherEnvsReadersGroupMembers to add .
  pipelines/vars/common.yaml
Due: none

imta-21647: add classic groups new grafana
  bicep/45-infra-to-classic.bicep
  bicep/envs/dev/45-infra.bicepparam
  bicep/envs/prd/45-infra.bicepparam
  bicep/envs/pre/45-infra.bicepparam
  bicep/envs/tst/45-infra-to-classic.bicepparam
  bicep/modules/monitoring-to-classic.bicep
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-infra-to-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try adding 10 years again
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reduce to 1 year
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Extend eligible roles for ~10 years
  bicep/10-resource-group.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Change back to duration based
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try iso8601
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use stable API for `roleEligibilityScheduleRequests`
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign eligible PIM roles to groups
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
  pipelines/stages/deploy-bicep-resource-group.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add PIM role assignment groups
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Cannot assign eligibility with no expiration by policy
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix script docs
  scripts/pipeline/create-entra-group.sh
Due: none

Add team groups as members of PIM groups
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Eligible role assignments for KeyVault
  bicep/40-infra.bicep
  bicep/modules/external-secrets-identity.bicep
  bicep/modules/keyvault-role-assignment.bicep
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update PIM group names to reflect resource group instead of subscription
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Remove conditionals, prefer failure over skipping silently
  bicep/10-resource-group.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Attempt to evade immutability, submit new roleEligibilityScheduleRequests each deployment
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Stick with eligibility expiry as `now() + 365 days` for each deployment
  bicep/10-resource-group.bicep
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
