Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pre values
  helm-charts/envs/tst/bootstrap-values.yaml
Due: none

pre values
  helm-charts/envs/pre/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.37.0` to `0.38.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

andy hardy and jon shaw a accounts to hgher envs
  pipelines/vars/common.yaml
Due: none

Use `-new` URLs
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.62.0` to `0.63.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.38.0` to `0.39.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.46.0` to `0.47.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.100.0` to `0.101.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Use correct access groups in PRE now they have been created
  bicep/envs/pre/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Configure access groups for AZR-IMP-PRD1 subscription
  bicep/envs/prd/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add ContainerRegistry service endpoints, grant classic ADO SPs network contributor on new vnets
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Configure ingress to set x-original-host and x-forwarded-for headers
  helm-charts/bootstrap/templates/ingress.yaml
Due: none

Configure ingress to set x-original-host and x-forwarded-for headers
  helm-charts/bootstrap/templates/ingress.yaml
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.39.0` to `0.40.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add pipeline and script to pin `ipaffs-infra` ref in manifest files
  pipelines/update-manifest-infra-ref.yaml
  scripts/pipeline/update-manifest-infra-ref.sh
Due: none

Disable classic private endpoint DNS until we are able to use on-vnet endpoints
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Set classic subscription names for PRE/PRD
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
Due: none

Disable classic peering in PRD, set up ACR in PRE
  bicep/20-network.bicep
  bicep/envs/pre/25-acr.bicepparam
  bicep/modules/virtual-network.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Allow PRE environment for ACR bicep module
  bicep/25-acr.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use correct higher/lower env library group when updating ACR details
  pipelines/stages/deploy-bicep-acr.yaml
Due: none

Fix syntax error
  pipelines/stages/deploy-bicep-acr.yaml
Due: none

Add debug utilities and enhance error handling in add-entra-group-members script
  scripts/pipeline/add-entra-group-members.sh
Due: none

Use correct higher/lower env library group when installing Helm charts
  pipelines/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Use correct higher/lower env library group for toplevel infra pipeline
  pipelines/infrastructure.yaml
Due: none

Enhance add-principal-to-group script with detailed debugging and robust error handling
  scripts/pipeline/add-principal-to-group.sh
Due: none

Add direct owner reference checks to group membership scripts
  scripts/pipeline/add-entra-group-members.sh
  scripts/pipeline/add-principal-to-group.sh
Due: none

Enhance scripts with cleanup traps, robust error handling, and detailed logging
  scripts/pipeline/add-principal-to-group.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Increment attempt counter in add-principal-to-group script for consistency
  scripts/pipeline/add-principal-to-group.sh
Due: none

Remove redundant debugging utilities and streamline add-entra-group-members script
  scripts/pipeline/add-entra-group-members.sh
Due: none

Remove runWithXtraceHidden utility and streamline curl usage in add-principal-to-group script
  scripts/pipeline/add-principal-to-group.sh
Due: none

Streamline add-principal-to-group script by removing redundant utilities and enhancing error reporting
  scripts/pipeline/add-principal-to-group.sh
Due: none

Fix managed identity group membership
  scripts/pipeline/add-entra-group-members.sh
  scripts/pipeline/add-principal-to-group.sh
  scripts/pipeline/create-identity.sh
  scripts/pipeline/deploy-identities-from-services.sh
  scripts/pipeline/wait-for-group-membership.sh
Due: none

Add Dan Johansson to higher env readers group
  pipelines/vars/common.yaml
Due: none

Mark ServiceBus secrets as optional in Helm templates and tests
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
  helm-charts/webapp/tests/deployment_test.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.47.0` to `0.48.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.101.0` to `0.102.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Remove hardcoding origin ingress to dev env
  helm-charts/bootstrap/templates/ingress.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.40.0` to `0.41.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add imageRegistry support and refactor image resolution in Helm charts and scripts
  helm-charts/job/templates/_helpers.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
  scripts/pipeline/update-manifest-service-values.sh
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
