Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/deploy-bicep.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: ImportACRArtifacts
    displayName: Import ACR Artifacts
    jobs:
    - deployment: ImportContainerImages
      displayName: Import Container Images
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      environment:
  ...

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Spike: tryu to run remote vnet peering pipeline
  pipelines/peering-test.yaml
Due: none

Spike: use POC SP
  pipelines/peering-test.yaml
Due: none

Spike: use az devops login special subcommand voodoo
  pipelines/peering-test.yaml
Due: none

Spike: try without quotes
  pipelines/peering-test.yaml
Due: none

Store vnetName in library variable group
  bicep/20-network.bicep
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Script to trigger peering pipeline and wait for result
  pipelines/peering-test.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
  scripts/pipeline/trigger-peering-pipeline.sh
Due: none

doh
  pipelines/peering-test.yaml
Due: none

doh!
  scripts/pipeline/trigger-peering-pipeline.sh
Due: none

Refactor bicep pipeline to include network peering
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Delete test pipeline
  pipelines/peering-test.yaml
Due: none

Enable TST environment
  bicep/envs/tst/30-infra.bicepparam
  pipelines/backoffice-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/privatelink-dns-records.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.31.0` to `0.32.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.20.0` to `0.21.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Specify subscription ID when working with Bicep
  pipelines/legacy.yaml
  pipelines/stages/deploy-bicep.yaml
  scripts/pipeline/update-group-variable-from-deployment.sh
Due: pipelines/deploy-bicep.yaml, pipelines/legacy.yaml

Separately configure resource group for legacy environment(s)
  pipelines/legacy.yaml
Due: pipelines/legacy.yaml

Correct subscription ID for AZR-IMP-TST1
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Only configure team groups for lower envs when building for DEV environment (avoids race condition building multiple envs)
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Due to dependencies, create/update team groups when running builds in all envs, but only effect member changes when running for DEV
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Add EditoConfig
  .editorconfig
Due: none

Add Mat Lambeth to admins group
  pipelines/vars/common.yaml
Due: none

Add traffic manager configuration module and update deploy-ipaffs pipeline
  bicep/30-infra.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/modules/traffic-manager.bicep
  pipelines/deploy-ipaffs.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Refine traffic manager parameter handling and conditional module deployment logic
  bicep/30-infra.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-20928: storage account
  bicep/30-infra.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/modules/storage.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-20928: storage account
  bicep/modules/storage.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-20928: storage account
  bicep/envs/dev/30-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try different ADO agent pool
  pipelines/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Allow AzureDevOps special network to connect to AKS, switch to ADO cloud hosted agent pool
  bicep/envs/dev/20-network.bicepparam
  pipelines/backoffice-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.32.0` to `0.33.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.21.0` to `0.22.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Add Azure Insights resource
  bicep/30-infra.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/modules/insights.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set retention and sampling percentage
  bicep/modules/insights.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Store InstrumentionKey and ConnectionString into configmap
  bicep/30-infra.bicep
  bicep/modules/insights.bicep
  pipelines/stages/deploy-bicep.yaml
  pipelines/steps/deploy-bootstrap-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Run deploy infrastructure task on every branch
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

[skip ci] build(deps): Bumping Chart version from `0.22.0` to `0.23.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.11.0` to `0.12.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.23.0` to `0.24.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Update ipaffs-common dependency to version 0.12.0 in backoffice chart
  helm-charts/backoffice/Chart.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/main.bicep, bicep/resource-group.bicep, bicep/modules/*.bicep, bicep/**/main.bicepparam, bicep/**/resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
