Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Support eligible role assignments with Bicep, use for AKS roles
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/aks-role-assignment.bicep
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Job reordering
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Use consistent guid, switch to `AdminUpdate` request type
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove `endDateTime` param
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reinstate dynamic deployment name, it definitely does not work when reusing (Internal Server Error)
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing roleAssignmentType param
  bicep/30-classic.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Tidy up resource-group-role-assignment module
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-assignment.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for SQL Server
  bicep/modules/search-classic.bicep
  bicep/modules/search.bicep
  bicep/modules/sql-server-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Search
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/modules/search-classic.bicep
  bicep/modules/search-role-assignment.bicep
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign AKS RBAC Cluster Admin role directly to service connection principal instead of ading to AksAdmins group
  bicep/40-infra.bicep
  bicep/modules/aks.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/infra-permissions.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Container Registry
  bicep/modules/acr-role-assignment.bicep
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove redundant module rg-role-assignment
  bicep/modules/azure-service-operator.bicep
  bicep/modules/monitoring.bicep
  bicep/modules/rg-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Storage
  bicep/40-infra.bicep
  bicep/modules/storage-role-assignment.bicep
  bicep/modules/storage.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Prometheus
  bicep/modules/monitoring.bicep
  bicep/modules/prometheus-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Virtual Network
  bicep/modules/aks.bicep
  bicep/modules/storage-role-assignment.bicep
  bicep/modules/virtual-network.bicep
  bicep/modules/vnet-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.57.0` to `0.58.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

imta-21647: add classic groups new grafana
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

imta-21647: add classic groups new grafana
  bicep/45-infra-to-classic.bicep
  bicep/envs/dev/45-infra-to-classic.bicepparam
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

imta-21647: add classic groups new grafana
  bicep/envs/prd/45-infra-to-classic.bicepparam
  bicep/envs/pre/45-infra-to-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set `roleAssigmentsType` for classic envs
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.58.0` to `0.59.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

IMTA-21673: add IPAFFS QA Overview Grafana dashboard
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

IMTA-21673: label change
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

IMTA-21673: pod restart last 15 days
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

IMTA-21673: Risk Assessment Fallback
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

IMTA-21673: Further improvements to Risk assessment and pod restarts
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

Remove outdated comment about pipeline-level SonarQube URL overrides
  pipelines/vars/common.yaml
Due: none

Remove sonarHostUrl parameter override from Java template
  pipelines/templates/java-template.yaml
Due: none

Remove sonarHostUrl parameter and update comments in Java Sonar job
  pipelines/jobs/sonar-analyse-java-project.yaml
Due: none

Simplify sonar-scan step by removing parameterization and inlining defaults
  pipelines/steps/sonar-scan.yaml
Due: none

Remove extra blank line in Java template YAML formatting
  pipelines/templates/java-template.yaml
Due: none

Remove mvnGoals default parameter and update build task display name in Java Sonar job
  pipelines/jobs/sonar-analyse-java-project.yaml
Due: none

Update comments in sonar-scan step for clarity and brevity
  pipelines/steps/sonar-scan.yaml
Due: none

Add SonarQube analysis job for Node.js projects with test coverage
  pipelines/jobs/sonar-analyse-node-project.yaml
Due: none

Add SonarQube analysis job for Node.js projects with test coverage
  pipelines/templates/node-template.yaml
Due: none

Set SONAR_USER_HOME to writable directory when running as non-root user
  pipelines/steps/sonar-scan.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
