Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

[skip ci] build(deps): Bumping Chart version from `0.45.0` to `0.46.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.31.0` to `0.32.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.11.0` to `0.12.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

only do aso for dev
  helm-charts/bootstrap/templates/ingress.yaml
  helm-charts/bootstrap/templates/resourcegroup.yaml
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/templates/sqlserver.yaml
  helm-charts/bootstrap/templates/storageaccount.yaml
  helm-charts/envs/tst/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.32.0` to `0.33.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.72.0` to `0.73.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.12.0` to `0.13.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.46.0` to `0.47.0`
  helm-charts/backoffice/Chart.yaml
Due: none

only do aso for dev
  helm-charts/bootstrap/templates/ingress.yaml
  helm-charts/bootstrap/templates/resourcegroup.yaml
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/templates/sqlserver.yaml
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.13.0` to `0.14.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

aso only for dev in backoffice
  helm-charts/backoffice/templates/database.yaml
  helm-charts/backoffice/templates/redis.yaml
  helm-charts/backoffice/templates/service-bus.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.47.0` to `0.48.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.73.0` to `0.74.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.14.0` to `0.15.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.33.0` to `0.34.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Refactor Azure resource templates to support optional values and simplify storage account configuration
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
  scripts/pipeline/add-principal-to-group.sh
Due: pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.48.0` to `0.49.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.15.0` to `0.16.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.74.0` to `0.75.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.34.0` to `0.35.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Update Helm charts to replace `adalBridge` with `databaseNames` for conditional initContainer logic
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.75.0` to `0.76.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add search connection string and user-assigned identity support to database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.76.0` to `0.77.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

move secrets
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

move secrets
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.77.0` to `0.78.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

fix webapp helm migration
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.78.0` to `0.79.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.79.0` to `0.80.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.80.0` to `0.81.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.81.0` to `0.82.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.82.0` to `0.83.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Rename `legacy` stack to `classic`
  bicep/90-classic.bicep
  bicep/envs/prd/90-classic.bicepparam
  bicep/envs/pre/90-classic.bicepparam
  bicep/envs/snd/90-classic.bicepparam
  bicep/envs/tst/90-classic.bicepparam
  pipelines/classic.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/snd.yaml
  pipelines/vars/tst.yaml
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.83.0` to `0.84.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
