Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Add KEDA ScaledJob support to Helm chart template configuration
  helm-charts/job/Chart.yaml
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

Add ingress hosts template for AFD origin ingress
  helm-charts/ipaffs-common/templates/_ingress.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.16.0` to `0.17.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

Add ingress resource for AFD origin
  helm-charts/bootstrap/templates/ingress.yaml
Due: none

Bump ipaffs-common chart version dependencies
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.46.0` to `0.47.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.29.0` to `0.30.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.14.0` to `0.15.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Add new env values
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.47.0` to `0.48.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add KEDA Helm chart installation to pipeline configuration
  helm-charts/keda-values.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Fix env vars and add sqlServerName
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.48.0` to `0.49.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Configure origin ingress
  helm-charts/bootstrap/templates/ingress.yaml
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.15.0` to `0.16.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Add `EntityRead` permission to service-bus.yaml configuration
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

Rename origin ingress
  helm-charts/bootstrap/templates/ingress.yaml
Due: none

Add `Manage` permission to service-bus.yaml configuration
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

Remove `EntityRead` permission from service-bus.yaml configuration
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

Wire in service name for containers
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.49.0` to `0.50.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.30.0` to `0.31.0`
  helm-charts/backoffice/Chart.yaml
Due: none

bootstrap dev remote debug true
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

temp point at notification service feature branch
  pipelines/deploy-ipaffs.yaml
Due: none

point notification service at master
  pipelines/deploy-ipaffs.yaml
Due: none

Spike: test pipeline for using az cli and dependant tools with secondary azure subscriptions
  pipelines/aks-test.yml
Due: none

consolidate
  pipelines/aks-test.yml
Due: none

floop
  pipelines/aks-test.yml
Due: none

kubelogin
  pipelines/aks-test.yml
Due: none

az account show
  pipelines/aks-test.yml
Due: none

grabconfig
  pipelines/aks-test.yml
Due: none

token
  pipelines/aks-test.yml
Due: none

poke helm
  pipelines/aks-test.yml
Due: none

help helm
  pipelines/aks-test.yml
Due: none

Use AzureCLI task to install Helm charts
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Try double escape
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Manual authentication to Azure, specifying subscription
  pipelines/jobs/deploy-chart.yaml
Due: none

Manual authentication to Azure, specifying subscription. Use AzCli task to install Helm charts
  pipelines/jobs/deploy-chart.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Add managed identity support and client ID resolution in Helm chart templates
  helm-charts/webapp/Chart.yaml
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/configmap.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/templates/identities.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Fix TST config, missing identity name for search resource, appropriately namespaced action group name
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
