Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

[skip ci] build(deps): Bumping Chart version from `0.48.0` to `0.49.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.102.0` to `0.103.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add overrides for ACR name and login server in deploy-chart pipeline
  pipelines/jobs/deploy-chart.yaml
Due: none

Load Fortinet CA cert into AKS CA trust store
  bicep/files/PAsubca.crt
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Make tag stage unskippable
  pipelines/stages/tag-build.yaml
Due: none

Update display names to make stages more obvious
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic-network.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
Due: pipelines/deploy-bicep.yaml

grammar
  pipelines/stages/deploy-bicep-classic.yaml
Due: none

Configure a default TLS certificate for the ingress controller
  helm-charts/app-routing-controller/templates/nginx-ingress-controller.yaml
  helm-charts/defra-certs/Chart.yaml
  helm-charts/defra-certs/templates/external-secret.yaml
  helm-charts/defra-certs/values.yaml
  helm-charts/ms-identity-redirect-handler/values.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Grant reader in higher environments to Security team for IST
  pipelines/vars/common.yaml
Due: none

Grant reader in lower environments to Security team for IST
  pipelines/vars/common.yaml
Due: none

Remove `hook-succeeded` from hook delete policy in database-migration Helm template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.103.0` to `0.104.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Refactor storage account template to include namespace in container names
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.41.0` to `0.42.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Configure DNS records for AKS load balancer
  bicep/60-dns.bicep
  bicep/envs/dev/60-dns.bicepparam
  bicep/envs/prd/60-dns.bicepparam
  bicep/envs/pre/60-dns.bicepparam
  bicep/envs/tst/60-dns.bicepparam
  bicep/modules/dns.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-dns.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add more team members
  pipelines/vars/common.yaml
Due: none

Add more team members again
  pipelines/vars/common.yaml
Due: none

Add more team members more again
  pipelines/vars/common.yaml
Due: none

Update storage account template to remove namespace-based container name logic and adjust reconcile policy
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.42.0` to `0.43.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Create Admins group for higher envs
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Add Security members to admin groups
  pipelines/vars/common.yaml
Due: none

Temporarily allow new group to be created (for the first run)
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Revert "Temporarily allow new group to be created (for the first run)"
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Increase NGINX client_max_body_size to 12
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.43.0` to `0.44.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add LFS support for self-checkout steps in package-java-project pipeline
  pipelines/jobs/package-java-project.yaml
Due: none

Add optional decodingStrategy to external-secret Helm template
  helm-charts/backoffice/templates/external-secret.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.63.0` to `0.64.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Increase body size to 12 MB
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.44.0` to `0.45.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add Mayur Rao to lowerEnvsReadersGroupMembers in common.yaml
  pipelines/vars/common.yaml
Due: none

Remove `release-date` label from ipaffs-common Helm template
  helm-charts/ipaffs-common/templates/_labels.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.49.0` to `0.50.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.45.0` to `0.46.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.104.0` to `0.105.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.64.0` to `0.65.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Add stable rollout hashes to trigger Deployment updates on config/secret changes
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.105.0` to `0.106.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add Reloader Helm chart and pipeline integration
  helm-charts/reloader-values.yaml
  pipelines/stages/import-acr-artifacts.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/import-acr-artifacts.yaml, pipelines/install-helm-charts.yaml
