Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/main.bicep, bicep/resource-group.bicep, bicep/modules/*.bicep, bicep/**/main.bicepparam, bicep/**/resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Set PrivateLink DNS records for Search service
  pipelines/stages/privatelink-dns-records.yaml
Due: none

Backoffice support for storage account with blob containers
  helm-charts/bootstrap/templates/storage.yaml
  helm-charts/bootstrap/values.yaml
  helm-charts/envs/bootstrap-poc-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: none

Simplify ingress host logic
  helm-charts/ipaffs-common/templates/_ingress.tpl
Due: none

[skip ci] build(deps): Bumping Chart version from `0.8.0` to `0.9.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

Bump ipaffs-common version
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.28.0` to `0.29.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.6.0` to `0.7.0`
  helm-charts/job/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.17.0` to `0.18.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Add approvedestablishment and commoditycode services
  pipelines/deploy-ipaffs.yaml
Due: none

Deploy redis instance with bicep
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/redis.bicep
  pipelines/stages/deploy-bicep.yaml
  pipelines/stages/privatelink-dns-records.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Tweak Redis SKU
  bicep/modules/redis.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix API reference
  bicep/modules/redis.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reduce AKS node pool min size to 1
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reduce AKS system node pool min size to 1
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set all node pools to min 1 max 1
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

DEVELOPERS DEVELOPERS DEVELOPERS!!1!!!11
  bicep/envs/dev/main.bicepparam
  bicep/envs/dev/resource-group.bicepparam
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/resource-group.bicep
  bicep/scripts/deploy-bastion.sh
  bicep/scripts/deploy-jumpbox.sh
  bicep/scripts/deploy-kv.sh
  bicep/scripts/deploy-peering.sh
  bicep/scripts/deploy.sh
  bicep/scripts/upload-secret.sh
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add dev environment to pipeline parameters
  pipelines/backoffice-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/privatelink-dns-records.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/install-helm-charts.yaml, pipelines/webapp-chart.yaml

Add dev pipeline variables
  pipelines/vars/dev.yaml
Due: none

Specify subscription ID at runtime
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Escape line ending
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

[skip ci] build(deps): Bumping Chart version from `0.18.0` to `0.19.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.9.0` to `0.10.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.29.0` to `0.30.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Temporary fix: use POC service connection to authenticate to ADO API
  pipelines/stages/deploy-bicep.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml

Add missing params in dev config
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Go back to hardcoding subscription ID
  bicep/envs/dev/main.bicepparam
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Entra user groups for IPAFFS team
  pipelines/stages/entra-groups.yaml
Due: none

Set up Team groups, fix ownerships and memberships
  pipelines/stages/entra-groups.yaml
  pipelines/vars/common.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
  scripts/pipeline/set-entra-group-members.sh
Due: none

Tidy up groups pipeline, add upstream service connection as owner
  pipelines/stages/entra-groups.yaml
  pipelines/vars/common.yaml
Due: none

Hardcode group owner object IDs
  pipelines/stages/entra-groups.yaml
  pipelines/vars/common.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

Support specifying group ID instead of searching for it
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

Retry group create/update operation without calling owner, as necessary
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/set-entra-group-members.sh
Due: none

Parse calling principal object ID from token claims
  scripts/pipeline/create-entra-group.sh
Due: none

Clean up object IDs
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/set-entra-group-members.sh
Due: none

Fix owner parsing
  scripts/pipeline/create-entra-group.sh
Due: none

cat man do
  pipelines/vars/common.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

Split member retrieval and updating into separate tasks to be run with different credentials due to restrictive API permissions
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
  scripts/pipeline/lookup-directory-objects.sh
  scripts/pipeline/set-entra-group-members.sh
Due: none

Fix json array compilation
  scripts/pipeline/create-entra-group.sh
Due: none

Fix group JSON regeneration
  scripts/pipeline/create-entra-group.sh
Due: none

Skip updating owners for existing groups
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none
