Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/deploy-bicep.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pipelines/ipaffs-common-chart.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/package-helm-chart.yaml
    parameters:
      helmChartName: ipaffs-common
      helmChartPath: helm-charts/ipaffs-common

[skip ci] build(deps): Bumping Chart version from `0.24.0` to `0.25.0`
  helm-charts/backoffice/Chart.yaml
Due: none

IMTA-20928: storage account containers
  bicep/30-infra.bicep
  helm-charts/bootstrap/templates/storageaccount.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/ipaffs-common-chart.yaml

IMTA-20928: storage account containers
  bicep/30-infra.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Refactor backoffice pipeline to support multi-environment Helm chart packaging and versioning
  pipelines/backoffice-chart.yaml
Due: none

Add DEV environment variables to backoffice pipeline configuration
  pipelines/backoffice-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.25.0` to `0.26.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.12.0` to `0.13.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

fix insights
  bicep/30-infra.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

fix insights
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Refactor pipeline configurations to support multi-environment Helm chart packaging and versioning
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml

Update ipaffs-common dependency to version 0.12.0 in job and webapp charts
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.33.0` to `0.34.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.13.0` to `0.14.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.8.0` to `0.9.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Persist ARM output variables in ADO variable group
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

[skip ci] build(deps): Bumping Chart version from `0.14.0` to `0.15.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

bump ipaffs-common deps to 0.15.0
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.9.0` to `0.10.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

fix aso storage accound crd version
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

fix missing separator
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

adopt service account aso
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

Specify access token for script with `az pipelines` command
  pipelines/deploy-ipaffs.yaml
Due: none

fix storage account aso
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

fix storage account aso add blob service
  helm-charts/bootstrap/templates/storageaccount.yaml
Due: none

fix resource group template var
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.15.0` to `0.16.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

update ipaffs common deps
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.10.0` to `0.11.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Add fallback Secret template for external-secret in backoffice chart
  helm-charts/backoffice/templates/external-secret.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.26.0` to `0.27.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Mark secrets as optional in job, webapp, and backoffice Helm charts where externalSecret is enabled
  helm-charts/backoffice/templates/external-secret.yaml
  helm-charts/job/templates/cronjob.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.27.0` to `0.28.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.11.0` to `0.12.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.34.0` to `0.35.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Change Application Insights environment variable naming convention
  pipelines/steps/deploy-bootstrap-chart.yaml
Due: none

Add PrivateLink connection to Azure Search resource
  bicep/modules/search.bicep
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Replace nginx-ingress with Managed NGINX (aka App Routing Controller)
  bicep/modules/aks.bicep
  helm-charts/app-routing-controller/Chart.yaml
  helm-charts/app-routing-controller/templates/nginx-ingress-controller.yaml
  helm-charts/app-routing-controller/values.yaml
  helm-charts/ingress-nginx-values.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml

Set correct namespace for app-routing ingress controller and add docs links
  bicep/modules/aks.bicep
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml

Set up Private Link Service targeting AKS internal load balancer, for use by Azure Front Door
  bicep/40-privatelink.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/dev/40-privatelink.bicepparam
  bicep/envs/tst/30-infra.bicepparam
  bicep/envs/tst/40-privatelink.bicepparam
  bicep/modules/privatelink.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/modules/*.bicep, bicep/**/30-infra.bicepparam, bicep/**/10-10-resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/privatelink-dns-records.yaml, pipelines/stages/privatelink-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
