Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Generate CSV Reports
  pipelines/qa-automation.yaml
Due: none

Cleanup
  pipelines/qa-automation.yaml
Due: none

Add missing run step
  pipelines/qa-automation.yaml
Due: none

Make CSV Report configurable
  pipelines/qa-automation.yaml
Due: none

Fix syntax error
  pipelines/qa-automation.yaml
Due: none

Debug
  pipelines/steps/build-container-image.yaml
Due: none

Remove empty line
  pipelines/qa-automation.yaml
Due: none

Parameterise image build step
  pipelines/qa-automation.yaml
  pipelines/steps/build-container-image.yaml
Due: none

Cleanup
  pipelines/steps/build-container-image.yaml
Due: none

Make keyvault configurable.
  pipelines/qa-automation.yaml
Due: none

Create dedicated library group vars and cleanup redundant settings
  pipelines/qa-automation.yaml
Due: none

Add support for managed and referenced database names with backward compatibility in Helm charts
  helm-charts/backoffice/templates/_helpers.tpl
  helm-charts/backoffice/templates/database.yaml
  helm-charts/backoffice/values.schema.json
  helm-charts/backoffice/values.yaml
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/configmap.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
  helm-charts/webapp/tests/deployment_test.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.65.0` to `0.66.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.108.0` to `0.109.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Update ref to main
  pipelines/qa-automation.yaml
Due: none

Set job timeout to 3 hours
  pipelines/qa-automation.yaml
Due: none

use https for non env namespaces
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.66.0` to `0.67.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.50.0` to `0.51.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.109.0` to `0.110.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.46.0` to `0.47.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Remove new<->classic vnet peering, no longer needed due to new firewall rules permitting connectivity to classic SQL, Redis
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove classic<->new vnet peering, no longer needed
  bicep/35-classic-network.bicep
  bicep/envs/prd/35-classic-network.bicepparam
  bicep/envs/pre/35-classic-network.bicepparam
  bicep/envs/snd/35-classic-network.bicepparam
  bicep/envs/tst/35-classic-network.bicepparam
  bicep/modules/virtual-network-classic.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-classic-network.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-21190: config update
  helm-charts/envs/prd/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.47.0` to `0.48.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add other team members to higher env admins group
  pipelines/vars/common.yaml
Due: none

Add conditional annotation to suspend scaling in ScaledJob template
  helm-charts/job/templates/scaledjob.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.51.0` to `0.52.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

B2B_CUSTOMER_USER_ID
  helm-charts/envs/prd/bootstrap-values.yaml
  helm-charts/envs/pre/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.48.0` to `0.49.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add equivalent action groups for classic action groups P1,P2 and kainos
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/modules/alerts.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add scripts for batch group membership management in pipelines
  pipelines/update-manifest-infra-ref.yaml
  scripts/pipeline/add-entra-group-members.sh
  scripts/pipeline/create-identity.sh
  scripts/pipeline/deploy-identities-from-services.sh
  scripts/pipeline/wait-for-group-memberships.sh
Due: none

Retry federated credential creation after identity create
  scripts/pipeline/create-identity.sh
Due: none

Avoid membership reads during identity deployment
  scripts/pipeline/add-entra-group-members.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Add managed identity quota preflight
  pipelines/update-manifest-infra-ref.yaml
  scripts/pipeline/delete-namespace-identities.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Revert "Add managed identity quota preflight"
  pipelines/update-manifest-infra-ref.yaml
  scripts/pipeline/delete-namespace-identities.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Fallback when bulk group add is denied
  scripts/pipeline/add-entra-group-members.sh
Due: none

Add private link integration for Azure SQL in Search module
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
