Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Private Endpoint location needs to be the same as the vnet
  bicep/40-infra.bicep
  bicep/modules/classic-private-endpoints.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing config
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing config
  bicep/envs/tst/30-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add "skip container build" logic to pipeline templates and manifest updates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/update-manifest-service-values.sh
Due: none

Add support for defining and managing external secrets and additional ClusterSecretStores in Helm charts.
  helm-charts/bootstrap/templates/external-secret.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
  helm-charts/envs/tst/bootstrap-values.yaml
  helm-charts/external-secrets-azure/templates/_helpers.tpl
  helm-charts/external-secrets-azure/templates/clustersecretstore.yaml
  helm-charts/external-secrets-azure/templates/service-principal-secret.yaml
  helm-charts/external-secrets-azure/values.yaml
  helm-charts/external-secrets-values.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/vars/common.yaml
Due: pipelines/install-helm-charts.yaml

[skip ci] build(deps): Bumping Chart version from `0.20.0` to `0.21.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Remove unused `bootstrapCcoeKeyVaultResourceId` configuration from pipeline variables.
  pipelines/vars/common.yaml
Due: none

Replace `bootstrapCcoeKeyVaultResourceId` with `bootstrapCcoeSecretStoreName` in pipeline and update logic for external secrets configuration.
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Set up permissions for shared ACR, add new library variable groups for lower/higher environments (might revisit this approach later)
  bicep/25-acr.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/25-acr.bicepparam
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/infra-permissions.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add admins and devs to AcrPull group
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Fix typo
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Classic SQL Servers do not all have managed identity enabled, and we are not currently using this output for anything
  bicep/30-classic.bicep
  bicep/modules/sql-classic.bicep
  pipelines/stages/deploy-bicep-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add explicit condition to stop running when build is cancelled
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Swap around mixed up vars
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Make all pipelines cancellable
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/build-java-project.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/jobs/package-java-project.yaml
  pipelines/legacy.yml
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/deploy-bicep-resource-group.yaml
  pipelines/stages/import-acr-artifacts.yaml
  pipelines/stages/infra-permissions.yaml
  pipelines/stages/package-helm-chart.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/job-chart.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml

set -x
  scripts/pipeline/add-principal-to-group.sh
Due: none

Exit early if invalid request formed when adding group members
  scripts/pipeline/add-principal-to-group.sh
Due: none

Load LowerEnvs/HigherEnvs variable groups to get team group details
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Error checking on library group variable value when setting
  scripts/pipeline/update-group-variable.sh
Due: none

Load LowerEnvs/HigherEnvs variable groups in more pipelines
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/deploy-bicep-resource-group.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/privatelink-dns-records.yaml

Configure ACR private endpoints across environments
  bicep/25-acr.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/acr-private-endpoint.bicep
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set correct principaltype for ACR role assignment
  bicep/modules/acr-role-assignment.bicep
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix missed param rename
  bicep/envs/tst/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Specify `acrResourceId` at runtime for infra deploy
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

Grant contributor on ACR to service principal for other environment
  bicep/envs/dev/25-acr.bicepparam
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

No further need for vnet lookup
  bicep/50-privatelink.bicep
  bicep/envs/dev/50-privatelink.bicepparam
  bicep/envs/tst/50-privatelink.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use runtime params file for privatelink deployment
  bicep/50-privatelink.bicep
  pipelines/stages/deploy-bicep-privatelink.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Grant vnet contributor on dev vnet to TST service connection principal (for ACR private endpoint)
  bicep/envs/dev/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Ensure privatelink and privateendpoint network policies are disabled in both relevant subnets in DEV/TST
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set service connections for higher envs
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
Due: none

Set up groups for higher environments
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Use unique deployemnt name for role assignments in a loop
  bicep/modules/acr.bicep
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Expand environments for infra pipelines
  pipelines/deploy-bicep.yaml
  pipelines/deploy-ipaffs.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/install-helm-charts.yaml, pipelines/privatelink-dns-records.yaml

reset nocreate
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Refactor entra groups to accommodate higher envs without pepperspraying insane compile time conditionals
  pipelines/stages/entra-groups.yaml
  pipelines/vars/common.yaml
Due: pipelines/entra-groups.yaml

Tailor group memberships per environment
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Remove redundant condition
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Add safety latch for higher env user group (no create, only update)
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Configure bicep for PRE and PRD
  bicep/envs/prd/10-resource-group.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/prd/50-privatelink.bicepparam
  bicep/envs/pre/10-resource-group.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/pre/50-privatelink.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Extract vnet peering into own stage template and make it optional
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/establish-peering.yaml
Due: pipelines/deploy-bicep.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
