Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

tst config
  helm-charts/envs/tst/bootstrap-values.yaml
Due: none

Integrate `update-manifest-chart-version.sh` script and update pipelines for chart version management across all manifests.
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/job-chart.yaml
  pipelines/webapp-chart.yaml
  scripts/pipeline/update-manifest-bootstrap-values.sh
  scripts/pipeline/update-manifest-chart-version.sh
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.64.0` to `0.65.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.38.0` to `0.39.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.25.0` to `0.26.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Include `bootstrap-values.yaml` in pipeline paths for updated chart values handling
  pipelines/bootstrap-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.4.0` to `0.5.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

sql server tst
  helm-charts/envs/tst/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.5.0` to `0.6.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

change db name when default
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.39.0` to `0.40.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.26.0` to `0.27.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.65.0` to `0.66.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

revert database name template
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.66.0` to `0.67.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.40.0` to `0.41.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.6.0` to `0.7.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Remove ConfigureDeployment, DeployIdentities, and DeployChart stages from pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

test config
  helm-charts/envs/tst/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.67.0` to `0.68.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.41.0` to `0.42.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.7.0` to `0.8.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.27.0` to `0.28.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Remove nonDevEnvironments parameter and associated stages from pipeline templates
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/job-chart.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.68.0` to `0.69.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.28.0` to `0.29.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.8.0` to `0.9.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.42.0` to `0.43.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Remove unused `managedIdentityBaseName` template from `_azure.tpl`
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.69.0` to `0.70.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.43.0` to `0.44.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.29.0` to `0.30.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.9.0` to `0.10.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Append namespace to Service Bus namespace name in `_azure.tpl` template
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.30.0` to `0.31.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.70.0` to `0.71.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.10.0` to `0.11.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.44.0` to `0.45.0`
  helm-charts/backoffice/Chart.yaml
Due: none

backed out templates
  helm-charts/envs/tst/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.71.0` to `0.72.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml
