Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

fix webapp helm migration
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.84.0` to `0.85.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

fix webapp helm migration
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.35.0` to `0.36.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

First steps towards unifying the classic and new infrastructure pipelines
  bicep/20-network.bicep
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/50-privatelink.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/dev/50-privatelink.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/envs/tst/50-privatelink.bicepparam
  bicep/modules/alerts-classic.bicep
  bicep/modules/sql-classic.bicep
  pipelines/deploy-bicep.yaml
  pipelines/legacy.yml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/vars/tst.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add bicep module for classic ServiceBus
  bicep/30-classic.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add bicep module for classic search services
  bicep/30-classic.bicep
  bicep/modules/search-classic.bicep
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
  pipelines/stages/deploy-bicep-classic.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set up parent `infrastructure` and `deploy-bicep` pipelines for hybrid deployment to new/classic
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-classic.yaml
Due: pipelines/deploy-bicep.yaml

Configure `classicSqlAdminUserPrincipalObjectId` for SND, PRE and PRD classic SQL servers
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/snd.yaml
Due: none

Only create ACR in DEV environment
  bicep/25-acr.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/25-acr.bicepparam
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/acr.bicep
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-acr.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Split ACR private endpoint into own module so it can be applied separately for other envs, remove unused params
  bicep/25-acr.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/25-acr.bicepparam
  bicep/modules/acr-private-endpoint.bicep
  bicep/modules/acr.bicep
  pipelines/stages/deploy-bicep-acr.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove unused ingress configuration and NOTES.txt from job Helm chart
  helm-charts/job/templates/NOTES.txt
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.36.0` to `0.37.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Add conditional Azure Search connection string to database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.85.0` to `0.86.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Simplify trigger paths for deploy-bicep pipeline now we are moving to a unified bicep pipeline
  pipelines/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Fix indentation in compile-time conditionals for template params
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/deploy-bicep.yaml

Remove toplevel variables block in deploy-bicep-classic template as it's not valid there and we are setting vars per stage
  pipelines/stages/deploy-bicep-classic.yaml
Due: none

Add unit tests and pipeline step for webapp Helm chart templates
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/ci-values.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
  helm-charts/webapp/tests/deployment_test.yaml
  helm-charts/webapp/tests/ingress_test.yaml
  pipelines/webapp-chart.yaml
  scripts/pipeline/test-webapp-chart.sh
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Fix up stage name duplication after templating
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

[skip ci] build(deps): Bumping Chart version from `0.86.0` to `0.87.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add unit test for Azure Search user-assigned identity in database-migration template
  helm-charts/webapp/tests/database_migration_test.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add Azure Search user-assigned identity to database-migration template
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.87.0` to `0.88.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Be more explicit about classic environment name
  pipelines/deploy-bicep.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/vars/dev.yaml
Due: pipelines/deploy-bicep.yaml

Avoid naming clash
  bicep/20-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Move vnet lookup into module to avoid evaluation error
  bicep/20-network.bicep
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix up 25-acr bicep params for dev
  bicep/envs/dev/25-acr.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove `location` field from Azure configuration in webapp Helm chart
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.88.0` to `0.89.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Various bicep fixes
  .gitignore
  bicep/30-classic.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/modules/alerts.bicep
  bicep/modules/search-classic.bicep
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Define dynamic Azure Search service name and update related templates to use it
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.37.0` to `0.38.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.16.0` to `0.17.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.49.0` to `0.50.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.89.0` to `0.90.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add missing reference to parameters file
  pipelines/stages/deploy-bicep-acr.yaml
Due: none

Define dynamic Azure Search principal and resource group names in templates and update database-migration references
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.50.0` to `0.51.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.17.0` to `0.18.0`
  helm-charts/bootstrap/Chart.yaml
Due: none
