Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/main.bicep, bicep/resource-group.bicep, bicep/modules/*.bicep, bicep/**/main.bicepparam, bicep/**/resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Fix delegation names
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try again to get subnet delegation right
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove unneeded properties from subnet delegations
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try setting delegation name to match Azure CLI
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Only specify AKS subnet delegation for DEVIMPNETSU4401
  bicep/10-resource-group.bicep
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove POC environment bicep params to prevent re-running in deprecated env
  bicep/envs/poc/main.bicepparam
  bicep/envs/poc/resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Specify AKS SKU, add delegations to TST subnets, open up NSG rules for dev env
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Expand dev nsg rules for gateway, DNS, Entra, Monitor
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Undo premature rename
  bicep/resource-group.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Consolidate NSGs, add rules for node-to-pod, pod-to-pod, and pod-to-endpoint routing
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Use build token to update library variable groups
  pipelines/stages/deploy-bicep.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml

Use AzureCLI task to retrieve ARM deployment outputs, move serviceConnection/upstreamServiceConnection variables out of library groups
  pipelines/stages/deploy-bicep.yaml
  pipelines/vars/common.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/poc.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/snd.yaml
  pipelines/vars/tst.yaml
Due: pipelines/deploy-bicep.yaml

Add group ID for directory readers
  pipelines/vars/common.yaml
Due: none

Workaround: use POC SP for adding group members
  pipelines/stages/infra-permissions.yaml
Due: none

Expand NSG to allow all traffic to peered hub vnet
  bicep/envs/dev/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.7.0` to `0.8.0`
  helm-charts/job/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.10.0` to `0.11.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.19.0` to `0.20.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.30.0` to `0.31.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Set maximum per-node pod count on node pools
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Increase maxPods for system nodes
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix Pod/Service CIDRs, add tidied NSGs & rules to TST config
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Allow traffic from VPN ranges
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Allow traffic from AD3 AVD
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Split bicep deployments into network and infra
  bicep/10-resource-group.bicep
  bicep/20-network.bicep
  bicep/30-infra.bicep
  bicep/90-legacy.bicep
  bicep/envs/dev/main.bicepparam
  bicep/envs/dev/resource-group.bicepparam
  bicep/envs/prd/legacy.bicepparam
  bicep/envs/pre/legacy.bicepparam
  bicep/envs/snd/legacy.bicepparam
  bicep/envs/tst/legacy.bicepparam
  bicep/envs/tst/main.bicepparam
  bicep/envs/tst/resource-group.bicepparam
  bicep/modules/network-security-groups.bicep
  bicep/modules/virtual-network.bicep
  pipelines/deploy-bicep.yaml
  pipelines/legacy.yaml
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Remove `using` statements as `using none` breaks Azure CLI
  bicep/envs/dev/main.bicepparam
  bicep/envs/tst/main.bicepparam
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Refactor bicepparam files per bicep deployment
  bicep/20-network.bicep
  bicep/30-infra.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/dev/common.bicepparam
  bicep/envs/dev/main.bicepparam
  bicep/envs/prd/90-legacy.bicepparam
  bicep/envs/pre/90-legacy.bicepparam
  bicep/envs/snd/90-legacy.bicepparam
  bicep/envs/tst/10-resource-group.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/envs/tst/30-infra.bicepparam
  bicep/envs/tst/90-legacy.bicepparam
  bicep/envs/tst/common.bicepparam
  pipelines/deploy-bicep.yaml
  pipelines/legacy.yaml
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Fix filename for artifact handling
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Remove old .gitignore
  bicep/.gitignore
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try to work around https://github.com/Azure/bicep/issues/18220
  bicep/_null.bicep
  bicep/envs/dev/common.bicepparam
  bicep/envs/tst/common.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Shuffle around parameters, add missing declarations
  bicep/10-resource-group.bicep
  bicep/20-network.bicep
  bicep/_null.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/envs/dev/common.bicepparam
  bicep/envs/tst/10-resource-group.bicepparam
  bicep/envs/tst/common.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix bicep/bicepparam filenames in pipeline
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Parse subnets more cleanly now that we are using a resource lookup
  bicep/30-infra.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/tst/30-infra.bicepparam
  bicep/modules/acr.bicep
  bicep/modules/aks.bicep
  bicep/modules/keyvault.bicep
  bicep/modules/redis.bicep
  bicep/modules/search.bicep
  bicep/modules/sql.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix type, should be int
  bicep/modules/redis.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reference `base` once by merging arrays
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Flatten bicepparams as >1 level of extendable params seems to break parameter inheritence
  bicep/20-network.bicep
  bicep/_null.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/dev/30-infra.bicepparam
  bicep/envs/dev/common.bicepparam
  bicep/envs/tst/10-resource-group.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/envs/tst/30-infra.bicepparam
  bicep/envs/tst/common.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Tidy up and separate legacy infra pipeline settings
  pipelines/legacy.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/snd.yaml
  pipelines/vars/tst.yaml
Due: pipelines/legacy.yaml

Remove unused params
  bicep/10-resource-group.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

tenantId bicep param not used for network
  pipelines/stages/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml
