Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Bump `ipaffs-common` dependency to version 0.19.0 in Helm charts
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Normalize Service Bus policy name format in Helm chart templates
  helm-charts/backoffice/templates/service-bus.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.35.0` to `0.36.0`
  helm-charts/backoffice/Chart.yaml
Due: none

dev event hub config
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Support manifest branch auto-resolution and improve UpdateManifest stage handling in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

trade url
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Add canonical base URLs to global configmap, for use by services
  helm-charts/bootstrap/templates/configmap.yaml
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.21.0` to `0.22.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

bump ipaffs-common version
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

file api config
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Fix template name
  helm-charts/ipaffs-common/templates/_urls.tpl
Due: pipelines/ipaffs-common-chart.yaml

Specify subscription for more `az acr login` calls
  pipelines/steps/build-container-image.yaml
  pipelines/steps/deploy-bootstrap-chart.yaml
  pipelines/steps/determine-namespace.yaml
Due: none

Use kubelogin when creating managed identity k8s resources
  scripts/pipeline/ensure-aso-managed-identity.sh
Due: none

Specify subscritpion when pushing newly built charts to registry
  pipelines/backoffice-chart.yaml
  pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml
  pipelines/stages/package-helm-chart.yaml
  pipelines/webapp-chart.yaml
  scripts/pipeline/package-and-push-chart.sh
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.58.0` to `0.59.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.19.0` to `0.20.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.22.0` to `0.23.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

oops missed a spot
  pipelines/jobs/deploy-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.59.0` to `0.60.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.60.0` to `0.61.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.20.0` to `0.21.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.61.0` to `0.62.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Bump `ipaffs-common` dependency to version 0.21.0 in Helm charts
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.62.0` to `0.63.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.23.0` to `0.24.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.36.0` to `0.37.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Set IPAFFS B2C domain
  helm-charts/bootstrap/templates/configmap.yaml
Due: none

Fix syntax error
  helm-charts/bootstrap/templates/configmap.yaml
Due: none

No longer version and push ipaffs-common to ACR
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/ipaffs-common/Chart.yaml
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
  pipelines/ipaffs-common-chart.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.37.0` to `0.38.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.24.0` to `0.25.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.63.0` to `0.64.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add pipeline for packaging and pushing `bootstrap` Helm chart
  pipelines/bootstrap-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.1.0` to `0.2.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add script and pipeline updates for managing bootstrap manifest values
  pipelines/bootstrap-chart.yaml
  scripts/pipeline/update-manifest-bootstrap-values.sh
Due: none

[skip ci] build(deps): Bumping Chart version from `0.2.0` to `0.3.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add Application Insights environment variables to deploy-chart pipeline
  pipelines/jobs/deploy-chart.yaml
Due: none

Update bootstrap chart version handling and integrate Application Insights variables
  helm-charts/envs/dev/bootstrap-values.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/jobs/deploy-chart.yaml
  scripts/pipeline/update-manifest-bootstrap-values.sh
Due: none

[skip ci] build(deps): Bumping Chart version from `0.3.0` to `0.4.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Remove hardcoded Application Insights keys; update deploy-chart pipeline to use variables
  helm-charts/envs/dev/bootstrap-values.yaml
  pipelines/jobs/deploy-chart.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
