Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: ImportACRArtifacts
    displayName: Import ACR Artifacts
    jobs:
    - deployment: ImportContainerImages
      displayName: Import Container Images
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      environment:
  ...

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: InstallHelmCharts
    displayName: Install Helm Charts
    jobs:
    - deployment: InstallHelmCharts
      displayName: Install Charts
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
  ...

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

add check to ensure adding group member doesn't crash if already added
  pipelines/group.yaml
Due: none

Create Azure ManagedIdentity for SQL migrations
  helm-charts/webapp/templates/managed-identities.yaml
Due: pipelines/webapp-pipeline.yaml

Add configMapExpressions for ManagedIdentity in webapp chart.
  helm-charts/webapp/templates/managed-identities.yaml
Due: pipelines/webapp-pipeline.yaml

Remove commented-out group member and owner addition commands
  pipelines/group.yaml
Due: none

Remove redundant group membership existence check before addition
  pipelines/group.yaml
Due: none

Handle existing group member addition without failure in pipelines
  pipelines/group.yaml
Due: none

Enable script debugging with `set -x` in group member addition step
  pipelines/group.yaml
Due: none

Add `serviceName` parameter and create ManagedIdentity for migrations in pipeline
  pipelines/group.yaml
Due: none

Use `toLower` for `resourceGroupName` in ManagedIdentity creation step.
  pipelines/group.yaml
Due: none

Correct variable reference for `resourceGroupName` in ManagedIdentity creation step.
  pipelines/group.yaml
Due: none

Correct variable reference for `resourceGroupName` in ManagedIdentity
  pipelines/group.yaml
Due: none

Fix syntax for `lower` function in `resourceGroupName` reference during ManagedIdentity creation
  pipelines/group.yaml
Due: none

Fix syntax for `lower` function in `resourceGroupName` reference during ManagedIdentity creation step.
  pipelines/group.yaml
Due: none

Fix syntax for `lower` function in `resourceGroupName` reference during ManagedIdentity creation step
  pipelines/group.yaml
Due: none

Use `lower` function for `resourceGroupName` in AzureCLI task configuration
  pipelines/group.yaml
Due: none

Add more Azure resource types. Convention over configuration
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/azure.yaml
  helm-charts/webapp/templates/database.yaml
  helm-charts/webapp/templates/redis.yaml
  helm-charts/webapp/templates/service-bus.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from 0.1.15 to 0.1.16
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

Enable higher environments in 'legacy' bicep file
  bicep/legacy.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
