Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Assign eligible PIM roles to groups
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
  pipelines/stages/deploy-bicep-resource-group.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try adding 10 years again
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reinstate dynamic deployment name, it definitely does not work when reusing (Internal Server Error)
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix script docs
  scripts/pipeline/create-entra-group.sh
Due: none

Use consistent guid, switch to `AdminUpdate` request type
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Attempt to evade immutability, submit new roleEligibilityScheduleRequests each deployment
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Stick with eligibility expiry as `now() + 365 days` for each deployment
  bicep/10-resource-group.bicep
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update PIM group names to reflect resource group instead of subscription
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Remove `endDateTime` param
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Job reordering
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Add team groups as members of PIM groups
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Remove conditionals, prefer failure over skipping silently
  bicep/10-resource-group.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Support eligible role assignments with Bicep, use for AKS roles
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/aks-role-assignment.bicep
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for KeyVault
  bicep/40-infra.bicep
  bicep/modules/external-secrets-identity.bicep
  bicep/modules/keyvault-role-assignment.bicep
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Prometheus
  bicep/modules/monitoring.bicep
  bicep/modules/prometheus-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Search
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/modules/search-classic.bicep
  bicep/modules/search-role-assignment.bicep
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for SQL Server
  bicep/modules/search-classic.bicep
  bicep/modules/search.bicep
  bicep/modules/sql-server-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add missing roleAssignmentType param
  bicep/30-classic.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign AKS RBAC Cluster Admin role directly to service connection principal instead of ading to AksAdmins group
  bicep/40-infra.bicep
  bicep/modules/aks.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/infra-permissions.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove redundant module rg-role-assignment
  bicep/modules/azure-service-operator.bicep
  bicep/modules/monitoring.bicep
  bicep/modules/rg-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Virtual Network
  bicep/modules/aks.bicep
  bicep/modules/storage-role-assignment.bicep
  bicep/modules/virtual-network.bicep
  bicep/modules/vnet-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Container Registry
  bicep/modules/acr-role-assignment.bicep
  bicep/modules/acr.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Tidy up resource-group-role-assignment module
  bicep/10-resource-group.bicep
  bicep/modules/resource-group-role-assignment.bicep
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Eligible role assignments for Storage
  bicep/40-infra.bicep
  bicep/modules/storage-role-assignment.bicep
  bicep/modules/storage.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set `roleAssigmentsType` for classic envs
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Updated trivy scanning to only scan OS packages
  pipelines/steps/scan-container-image.yaml
Due: none

Rename module reference from rg-role-assignment to resource-group-role-assignment
  bicep/modules/application-gateway-for-containers.bicep
  bicep/modules/monitoring-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add principalType and roleAssignmentType parameters to role assignment modules
  bicep/modules/application-gateway-for-containers.bicep
  bicep/modules/monitoring-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix typo in comment: depployed -> deployed
  bicep/40-infra.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.72.0` to `0.73.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.61.0` to `0.62.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.121.0` to `0.122.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.62.0` to `0.63.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

remove users of old team members
  pipelines/vars/common.yaml
Due: none

IMTA-21102 Enable parallel AGC origin routes in DEV
  .github/workflows/pipeline-syntax.yaml
  helm-charts/bootstrap/tests/agc_httproute_test.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
  pipelines/steps/deploy-bootstrap-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.62.0` to `0.63.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Restore rg-role-assignment module
  bicep/modules/application-gateway-for-containers.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Restore rg-role-assignment module
  bicep/modules/azure-service-operator.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Restore rg-role-assignment module
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Restore rg-role-assignment module
  bicep/modules/monitoring-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
