Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: ImportACRArtifacts
    displayName: Import ACR Artifacts
    jobs:
    - deployment: ImportContainerImages
      displayName: Import Container Images
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      environment:
  ...

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: InstallHelmCharts
    displayName: Install Helm Charts
    jobs:
    - deployment: InstallHelmCharts
      displayName: Install Charts
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
  ...

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pipelines/webapp-chart.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/package-helm-chart.yaml
    parameters:
      helmChartName: webapp
      helmChartPath: helm-charts/webapp

trailing space
  pipelines/steps/build-container-image.yaml
Due: none

macroexpression is not parsed by ADO in a parameter.
  pipelines/jobs/build-java-project.yaml
Due: none

YAML commenting doesn't work here due to multiline text substitution
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.5.1` to `0.6.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-19949: node app templates
  pipelines/jobs/package-node-project.yaml
  pipelines/templates/node-template.yaml
Due: none

Configurable Dockerfile for migrations
  pipelines/jobs/package-java-project.yaml
Due: none

Set multiple group owners
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

DONTMERGE: pipeline testing
  pipelines/stages/entra-groups.yaml
Due: none

Fix syntax error
  scripts/pipeline/lookup-principal.sh
Due: none

read directly to array
  scripts/pipeline/create-entra-group.sh
Due: none

Create Entra groups for Azure SQL
  pipelines/entra-groups.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

Make `isRoleAssignable` configurable, comment out SQLServers group for now
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
Due: none

rename variables, remove unused task inputs
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
Due: none

logic bug
  scripts/pipeline/create-entra-group.sh
Due: none

do not add upstream SP as group owner
  pipelines/stages/entra-groups.yaml
Due: none

syntax & logic error
  scripts/pipeline/create-entra-group.sh
Due: none

rename script
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-directory-object.sh
Due: none

newline escape sequence not paraed, remove
  scripts/pipeline/create-entra-group.sh
Due: none

Look up principal object ID for default service connection and specify group owners
  pipelines/stages/entra-groups.yaml
Due: none

ensure an output variable is set
  scripts/pipeline/lookup-directory-object.sh
Due: none

Use explicit object URI for owner refs
  scripts/pipeline/create-entra-group.sh
Due: none

Refactor principal management scripts
  pipelines/stages/entra-groups.yaml
  scripts/pipeline/bump-semver.sh
  scripts/pipeline/create-entra-group.sh
  scripts/pipeline/lookup-principal.sh
  scripts/pipeline/package-and-push-chart.sh
  scripts/pipeline/update-chart-version.sh
Due: none

Revert "DONTMERGE: pipeline testing"
  pipelines/stages/entra-groups.yaml
Due: none

Include `feature/imta-20710` branch in deploy-bicep pipeline trigger
  pipelines/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Add Bicep module for monitoring resources creation
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Comment out branch condition in deploy-bicep pipeline steps
  bicep/main.bicep
  bicep/modules/monitoring.bicep
  pipelines/deploy-bicep.yaml
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Enable Azure Monitor metrics for AKS module
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Comment out branch condition in deploy-bicep pipeline steps
  pipelines/steps/deploy-bicep.yaml
Due: none

Pass Log Analytics ID to AKS module
  bicep/main.bicep
  bicep/modules/aks.bicep
  bicep/modules/monitoring.bicep
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Enable AAD authentication for Azure Monitor in AKS module
  bicep/modules/aks.bicep
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Prevent `infrastructure` pipeline from auto triggering
  pipelines/infrastructure.yaml
Due: none

fix identity naming conflict
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: none

[skip ci] build(deps): Bumping Chart version from `0.3.1` to `0.4.1`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

Add bootstrap chart: serviceBus configuration, ConfigMap, schema, and initial default values
  helm-charts/backoffice/Chart.yaml
  helm-charts/backoffice/templates/service-bus.yaml
  helm-charts/backoffice/values.schema.json
  helm-charts/backoffice/values.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/bootstrap/templates/azure.yaml
  helm-charts/bootstrap/templates/configmap.yaml
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/envs/bootstrap-poc-values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/Chart.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
  pipelines/jobs/package-java-project.yaml
  pipelines/steps/deploy-bootstrap-chart.yaml
  pipelines/templates/java-template.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.6.1` to `0.7.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.7.0` to `0.8.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.3.0` to `0.4.0`
  helm-charts/job/Chart.yaml
Due: none

Fix spacing issue in Azure databaseName template definition
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: none

[skip ci] build(deps): Bumping Chart version from `0.4.1` to `0.5.1`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

Add enotification_event_queue to bootstrap serviceBus queue configuration
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
