Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Use LowerEnv/HigherEnv library groups for import-acr-artifacts pipeline (acrName is now a shared variable)
  pipelines/import-acr-artifacts.yaml
Due: pipelines/import-acr-artifacts.yaml

Remove `deploy-ipaffs.yaml` pipeline and adjust bootstrap-values.yaml remoteKey configuration.
  helm-charts/envs/dev/bootstrap-values.yaml
  helm-charts/envs/tst/bootstrap-values.yaml
  pipelines/deploy-ipaffs.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.21.0` to `0.22.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Add conditional grouping of variables for HigherEnvs and LowerEnvs in Helm chart pipelines
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/install-helm-charts.yaml
  pipelines/job-chart.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/install-helm-charts.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml

Simplify variable grouping by removing conditional logic for HigherEnvs in Helm chart pipelines.
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/install-helm-charts.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/install-helm-charts.yaml, pipelines/webapp-chart.yaml

Remove conditional grouping of HigherEnvs variables in Helm chart pipelines
  pipelines/job-chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.53.0` to `0.54.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.22.0` to `0.23.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.94.0` to `0.95.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.42.0` to `0.43.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Enable vnet service endpoints for ServiceBus
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

cant assign role to classic sub
  pipelines/setup.yaml
Due: none

split serviceconns
  pipelines/setup.yaml
Due: none

set envs
  pipelines/setup.yaml
Due: none

fix job name
  pipelines/setup.yaml
Due: none

setup pipeline
  pipelines/setup.yaml
Due: none

explicit subscription
  pipelines/setup.yaml
Due: none

set service connection
  pipelines/setup.yaml
Due: none

Fix typo noticed in alert rule
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set correct build in group IDs for TST env
  bicep/envs/tst/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Disable private endpoints for classic service bus and classic search service
  bicep/modules/classic-private-endpoints.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix hardcoded subnet ID by retrieving from library
  pipelines/stages/deploy-bicep-privatelink.yaml
Due: pipelines/deploy-bicep.yaml

Temporarily use TST access groups for PRE until correct groups are created, see RITM1393903
  bicep/envs/pre/40-infra.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Allow additional environments in bicep modules
  bicep/10-resource-group.bicep
  bicep/20-network.bicep
  bicep/25-acr.bicep
  bicep/40-infra.bicep
  bicep/50-privatelink.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Configure ACR in higher environments
  bicep/envs/dev/25-acr.bicepparam
  bicep/envs/prd/25-acr.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set correct subscription IDs for PRE/PRD
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Enable ACR deployment in PRD
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/deploy-bicep.yaml

Update service name to "ipaffs" in bootstrap values.yaml file
  helm-charts/bootstrap/values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.23.0` to `0.24.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

redirect handler
  helm-charts/ms-identity-redirect-handler/values.yaml
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Try setting subscription explicitly for `az identity` calls
  scripts/pipeline/create-identity.sh
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

backoffice resource group
  helm-charts/backoffice/templates/database.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.54.0` to `0.55.0`
  helm-charts/backoffice/Chart.yaml
Due: none

backoffice resource group
  helm-charts/backoffice/templates/database.yaml
  helm-charts/bootstrap/templates/resourcegroup.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.55.0` to `0.56.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.24.0` to `0.25.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.56.0` to `0.57.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Allow team admins to retrieve defra certificate in lower envs
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Make new service connection principals a contributor on the classic resource group
  bicep/30-classic.bicep
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/modules/resource-group-role-assignment.bicep
  bicep/modules/search-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign Reader role to classic ADO service principals
  bicep/10-resource-group.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/envs/prd/10-resource-group.bicepparam
  bicep/envs/pre/10-resource-group.bicepparam
  bicep/envs/tst/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml
