Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

[skip ci] build(deps): Bumping Chart version from `0.90.0` to `0.91.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.38.0` to `0.39.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Fix dynamic Azure Search principal, service, and resource group name handling in templates and update database-migration connection references
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.39.0` to `0.40.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.91.0` to `0.92.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.18.0` to `0.19.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Avoid artifact name collision
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

[skip ci] build(deps): Bumping Chart version from `0.51.0` to `0.52.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Remove unused params
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/acr-private-endpoint.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Convert environment variable to uppercase for Azure Search principal name in templates
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/ipaffs-common-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.52.0` to `0.53.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.40.0` to `0.41.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.19.0` to `0.20.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.92.0` to `0.93.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Update database-migration template to use templated resource group and principal name for Azure Search user-assigned identity
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.93.0` to `0.94.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Reduce `successfulJobsHistoryLimit` default to 1 in Helm charts
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.41.0` to `0.42.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Move subnet calculations into 20-network module and export all subnet IDs and names as library variables to be consumed by pipelines for later modules
  bicep/20-network.bicep
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/50-privatelink.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/dev/50-privatelink.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/envs/tst/50-privatelink.bicepparam
  bicep/modules/acr-private-endpoint.bicep
  bicep/modules/aks.bicep
  bicep/modules/keyvault.bicep
  bicep/modules/privatelink.bicep
  bicep/modules/redis.bicep
  bicep/modules/search-classic.bicep
  bicep/modules/search.bicep
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
  bicep/modules/sql.bicep
  bicep/modules/storage.bicep
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Grant "Network Contributor" role to ADO-DefraGovUK-AZR-IMP-SND1 in DEV for cross-environment pipeline
  bicep/envs/dev/20-network.bicepparam
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix vnet name (accidentally referenced module not underlying resource)
  bicep/modules/virtual-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Specify `newLocation` to reference `uksouth` for private endpoint connections
  bicep/30-classic.bicep
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/modules/search-classic.bicep
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Create Entra group for DefraCertificateReaders and add identity for External Secerts operator as member
  bicep/40-infra.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/infra-permissions.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix job name
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Add missing config
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
Due: none

Set condition for dependency to enable running in TST where `CreateUserGroups` stage is skipped
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Save Team Groups to library earlier so the stage can be skipped as needed
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Runtime expressions only in variables 😭
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Deploy private endpoints for classic search, servicebus and sql
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/classic-private-endpoints.bicep
  bicep/modules/search-classic.bicep
  bicep/modules/search.bicep
  bicep/modules/servicebus-classic.bicep
  bicep/modules/sql-classic.bicep
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove as-yet unexported deployment outputs
  pipelines/stages/deploy-bicep-classic.yaml
Due: none

Fix pipeline parameters
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-classic.yaml
Due: pipelines/deploy-bicep.yaml

Use Microsoft.Sql/servers/administrators sub resource with older API
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix parent link for sql server admin
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Fix bad block nesting
  bicep/modules/sql-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Update API version as `endpoint` property is missing
  bicep/modules/search-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Private endpoint for classic redis
  bicep/30-classic.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/modules/classic-private-endpoints.bicep
  bicep/modules/redis-classic.bicep
  bicep/modules/redis.bicep
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Private DNS records for classic private endpoints
  pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/snd.yaml
  pipelines/vars/tst.yaml
Due: pipelines/privatelink-dns-records.yaml

Set correct subscription/resource group when retrieving classic deployment outputs
  pipelines/stages/deploy-bicep-classic.yaml
Due: none

Set correct service connection when retrieving classic deployment outputs
  pipelines/stages/deploy-bicep-classic.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
