Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Restore rg-role-assignment module and add deprecation notice
  bicep/modules/rg-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove empty lines in monitoring-to-classic module
  bicep/modules/monitoring-to-classic.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Set roleAssignmentType to 'eligible' for AKS admins role assignment
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

DON'T MERGE
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

IMTA-21256 Support namespace-aware Java telemetry in shared charts
  .github/workflows/pipeline-syntax.yaml
  helm-charts/ipaffs-common/templates/_telemetry.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/cronjob_telemetry_test.yaml
  helm-charts/job/tests/scaledjob_telemetry_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/deployment_telemetry_test.yaml
  helm-charts/webapp/tests/fixtures/java-telemetry.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
  pipelines/job-chart.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-21256 Always preserve running KEDA jobs during rollout
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/scaledjob_telemetry_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

IMTA-21256 Derive cloud roles directly from service names
  helm-charts/ipaffs-common/templates/_telemetry.tpl
  helm-charts/job/tests/cronjob_telemetry_test.yaml
  helm-charts/job/tests/scaledjob_telemetry_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/tests/deployment_telemetry_test.yaml
  helm-charts/webapp/tests/fixtures/java-telemetry.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-21256 Generate service runtime metadata in shared pipelines
  .github/workflows/pipeline-syntax.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: none

IMTA-21256 Indent Java telemetry helper [skip azp]
  helm-charts/ipaffs-common/templates/_telemetry.tpl
Due: pipelines/ipaffs-common-chart.yaml

IMTA-21256 Require explicit service runtime [skip azp]
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: none

IMTA-21775: Enable nightly QA automation notifications on dev
  pipelines/qa-automation-nightly.yaml
Due: none

Ignore CPU limits in shared workload charts
  helm-charts/ipaffs-common/templates/_resources.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/cronjob_resources_test.yaml
  helm-charts/job/tests/scaledjob_resources_test.yaml
  helm-charts/job/values.yaml
  helm-charts/ms-identity-redirect-handler/Chart.yaml
  helm-charts/ms-identity-redirect-handler/templates/deployment.yaml
  helm-charts/ms-identity-redirect-handler/tests/deployment_resources_test.yaml
  helm-charts/ms-identity-redirect-handler/values.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/deployment_resources_test.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.73.0` to `0.74.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.122.0` to `0.123.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.63.0` to `0.64.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Fix QA extends template pool scope [skip azp]
  pipelines/templates/qa-automation.yaml
Due: none

Enable DEV QA Slack notifications by default [skip azp]
  pipelines/qa-automation-dev.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.63.0` to `0.64.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Show deployment in Playwright run names
  pipelines/qa-automation-dev.yaml
  pipelines/qa-automation-tst.yaml
  pipelines/templates/qa-automation.yaml
Due: none

switch on integration tests
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-library-template.yaml
  pipelines/templates/java-template.yaml
Due: none

fix: remove -Pintegration from default Maven goals
  pipelines/jobs/build-java-project.yaml
  pipelines/templates/java-library-template.yaml
  pipelines/templates/java-template.yaml
Due: none

Temporarily disable DNS deployment stage in infrastructure pipeline
  pipelines/infrastructure.yaml
Due: none

Run full DEV QA nightly and smoke tests after deployment
  pipelines/qa-automation-dev.yaml
  pipelines/templates/qa-automation.yaml
Due: none

IMTA-21768 Add correlation filter to messaging_topic commodity_file_upload subscription
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/tests/service_bus_test.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

IMTA-21818: Fix QA overview dashboard notification panel and namespace filter
  grafana-dashboards/dashboards/IPAFFSQAOverview.json
Due: none

Add hooks runner script and tests
  scripts/pipeline/run-hooks.sh
  scripts/pipeline/run-hooks.test.sh
Due: none

Add run-hooks stage and hook contract
  pipelines/stages/run-hooks.yaml
  scripts/hooks/README.md
Due: none

Add hello-world smoke test hook
  scripts/hooks/00-hello-world.sh
Due: none

Disable hello-world hook, keep as example
  scripts/hooks/00-hello-world.sh
  scripts/hooks/00-hello-world.sh.example
  scripts/hooks/README.md
Due: none

Run hooks after the entra-groups stage
  pipelines/infrastructure.yaml
Due: none

Remove obsolete comment about applyOnBranch parameter
  pipelines/stages/run-hooks.yaml
Due: none

Identify the executed QA suite in Slack summaries
  pipelines/templates/qa-automation.yaml
  scripts/pipeline/parse-playwright-results.sh
Due: none

Align DEV Service Bus bootstrap with service usage
  helm-charts/bootstrap/templates/_service-bus.tpl
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/tests/service_bus_test.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

IMTA-21824 Add chart and pipeline support for isolated FTR Service Bus
  .github/workflows/pipeline-syntax.yaml
  docs/ftr-service-bus.md
  helm-charts/backoffice/tests/service_bus_test.yaml
  helm-charts/backoffice/values.schema.json
  helm-charts/backoffice/values.yaml
  helm-charts/envs/ftr/bootstrap-values.yaml
  helm-charts/ipaffs-common/templates/_service-bus.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/cronjob_service_bus_test.yaml
  helm-charts/job/tests/scaledjob_service_bus_test.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/database_migration_service_bus_test.yaml
  helm-charts/webapp/tests/deployment_service_bus_test.yaml
  helm-charts/webapp/values.schema.json
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/steps/deploy-chart.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  scripts/pipeline/update-manifest-bootstrap-values.sh
  scripts/pipeline/update-manifest-bootstrap-values.test.sh
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/update-manifest-service-values.test.sh
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-21824 Clarify pipeline ownership of generated manifest values
  docs/ftr-service-bus.md
Due: none

IMTA-21824 Document matching infra ref for branch deployment
  docs/ftr-service-bus.md
Due: none

IMTA-21824 Keep database migrations independent of Service Bus
  docs/ftr-service-bus.md
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/tests/database_migration_service_bus_test.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.64.0` to `0.65.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

IMTA-21824 Shorten FTR deployment documentation
  docs/ftr-service-bus.md
Due: none

IMTA-21824 Document optional FTR environment overrides
  docs/ftr-service-bus.md
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
