Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: ImportACRArtifacts
    displayName: Import ACR Artifacts
    jobs:
    - deployment: ImportContainerImages
      displayName: Import Container Images
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      environment:
  ...

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: InstallHelmCharts
    displayName: Install Helm Charts
    jobs:
    - deployment: InstallHelmCharts
      displayName: Install Charts
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
  ...

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pipelines/webapp-chart.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/package-helm-chart.yaml
    parameters:
      helmChartName: webapp
      helmChartPath: helm-charts/webapp

unit testing
  pipelines/infrastructure-group-dev.yaml
  scripts/pipeline/Create-AADGroups.ps1
Due: none

unit testing
  scripts/pipeline/Create-AADGroups.ps1
Due: none

unit testing
  pipelines/infrastructure-group-dev.yaml
Due: none

Add a Helm chart for jobs
  helm-charts/job/Chart.yaml
  helm-charts/job/templates/NOTES.txt
  helm-charts/job/templates/_helpers.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/build-job-project.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/jobs/deploy-identities.yaml
Due: none

add missin initContainer
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: none

add missin initContainer
  helm-charts/job/values.yaml
Due: none

Fix up parameter condition
  pipelines/jobs/deploy-identities.yaml
Due: none

Add a Helm chart for jobs
  helm-charts/job/Chart.yaml
  helm-charts/job/templates/NOTES.txt
  helm-charts/job/templates/_helpers.tpl
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/build-job-project.yaml
  pipelines/jobs/deploy-chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.1.0` to `0.2.0`
  helm-charts/job/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.3.1` to `0.4.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.2.1` to `0.3.1`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

debug: find out why TracesX jar is missing.
  pipelines/jobs/build-container-image.yaml
Due: none

macroexpression is not parsed by ADO in a parameter.
  pipelines/jobs/build-java-project.yaml
Due: none

Remove debug logs from build-container-image pipeline
  pipelines/jobs/build-container-image.yaml
Due: none

convert to step so that artifacts are shared
  pipelines/jobs/build-java-project.yaml
Due: none

convert to step so that artifacts are shared
  pipelines/jobs/build-container-image.yaml
  pipelines/steps/build-container-image.yaml
Due: none

Restore the user node pool
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Adjust node pool scaling - reduce VM size in system pool and increase minimum count to 2, also increase minimum count of user pool
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-19949: build-node-project initial template
  pipelines/jobs/build-node-project.yaml
Due: none

Revert system node pool SKU for now, as it is immutable
  bicep/modules/aks.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add vnet NSG Rule
  bicep/envs/poc/main.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-19935: fixed service account client id
  helm-charts/webapp/templates/deployment.yaml
  pipelines/jobs/build-java-project.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add Bicep module for monitoring resources creation
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

remove build-job-project and add package to build-java-project
  helm-charts/job/templates/NOTES.txt
  helm-charts/job/templates/cronjob.yaml
  pipelines/jobs/build-java-project.yaml
  pipelines/jobs/build-job-project.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.2.0` to `0.3.0`
  helm-charts/job/Chart.yaml
Due: none

common package-java pipeline
  pipelines/jobs/package-java-project.yaml
Due: none

add dockerfile parameter
  pipelines/jobs/package-java-project.yaml
Due: none

Add Bicep module for monitoring resources creation
  bicep/envs/poc/main.bicepparam
  bicep/main.bicep
  bicep/modules/monitoring.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
