Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: ImportACRArtifacts
    displayName: Import ACR Artifacts
    jobs:
    - deployment: ImportContainerImages
      displayName: Import Container Images
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      environment:
  ...

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: InstallHelmCharts
    displayName: Install Helm Charts
    jobs:
    - deployment: InstallHelmCharts
      displayName: Install Charts
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
  ...

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

pipelines/webapp-chart.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/package-helm-chart.yaml
    parameters:
      helmChartName: webapp
      helmChartPath: helm-charts/webapp

Fix typo in serviceBus queue name in bootstrap POC values configuration
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

Add JWT_AUDIENCE to bootstrap POC values configuration
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

Add DeployBootstrapChart job to node template
  pipelines/templates/node-template.yaml
Due: none

Secret for redis credentials
  helm-charts/backoffice/templates/redis.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Fix JWT issuer
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.7.1` to `0.8.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.8.0` to `0.9.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Build per-namespace ingress hosts
  helm-charts/ipaffs-common/templates/_ingress.tpl
Due: none

[skip ci] build(deps): Bumping Chart version from `0.5.1` to `0.6.1`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

Bump chart versions
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.8.1` to `0.9.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.9.0` to `0.10.0`
  helm-charts/backoffice/Chart.yaml
Due: none

Add ENV_DOMAIN to bootstrap POC values configuration
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

Update service-bus reconcile-policy to "manage" in bootstrap chart
  helm-charts/bootstrap/templates/service-bus.yaml
Due: none

Add database connection string secret to backoffice chart
  helm-charts/backoffice/templates/database.yaml
Due: none

fix: hardcoded migration managed identity
  pipelines/templates/java-template.yaml
Due: none

feat: jwt well know env var
  helm-charts/envs/bootstrap-poc-values.yaml
Due: none

Add a stage to configure post-bicep-deployment permissions for base infrastructure
  bicep/main.bicep
  bicep/modules/sql.bicep
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/infra-permissions.yaml
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Re-enable condition
  pipelines/steps/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Get `directoryReadersGroupObjectId` from library variable group, as on-the-fly lookup is erroring with 403
  pipelines/stages/infra-permissions.yaml
Due: none

Pass `migrations` parameter to Java pipeline template
  pipelines/templates/java-template.yaml
Due: none

Rename `configurationDockerFile` parameter to `dockerFile` in Java pipeline template
  pipelines/jobs/package-java-project.yaml
Due: none

Fix ingress host generation
  helm-charts/ipaffs-common/templates/_ingress.tpl
Due: none

[skip ci] build(deps): Bumping Chart version from `0.6.1` to `0.7.1`
  helm-charts/ipaffs-common/Chart.yaml
Due: none

Bump ipaffs-common chart version dependencies
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Bump ipaffs-common chart version dependencies
  helm-charts/job/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.9.1` to `0.10.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.10.0` to `0.11.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.4.0` to `0.5.0`
  helm-charts/job/Chart.yaml
Due: none

webapp chart: optional workload-identity-adal-bridge sidecar container
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.10.1` to `0.11.1`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

webapp chart: bump workload-identity-adal-bridge version
  helm-charts/webapp/Chart.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.11.0` to `0.12.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

reset patch version to 0 when bumping helm chart versions
  scripts/pipeline/bump-semver.sh
Due: none

bump workload-identity-adal-bridge version, set log level
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.12.0` to `0.13.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

fix: service container workflow identity
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/main.bicep, bicep/resource-group.bicep, bicep/modules/*.bicep, bicep/**/main.bicepparam, bicep/**/resource-group.bicepparam, pipelines/deploy-bicep.yaml, pipelines/steps/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
