Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

control frontend
  pipelines/deploy-ipaffs.yaml
Due: none

Update deploy-ipaffs pipeline to correct service and pipeline name for inservicemessaging-service
  pipelines/deploy-ipaffs.yaml
Due: none

Add existing
  bicep/modules/keyvault-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove location from existing resource
  bicep/modules/keyvault-role-assignment.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Correctly name Library Group Variables
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Assign correct principal type
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Revert "Assign correct principal type"
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Assign correct principal type
  bicep/modules/external-secrets-identity.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

border notification
  pipelines/deploy-ipaffs.yaml
Due: none

checks
  pipelines/deploy-ipaffs.yaml
Due: none

upload frontend
  pipelines/deploy-ipaffs.yaml
Due: none

Add migrations managed identity to search contributors group
  pipelines/jobs/deploy-identities.yaml
Due: none

Add SearchServiceContributor role
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Search Service SQL permissions
  bicep/30-infra.bicep
  bicep/envs/dev/30-infra.bicepparam
  bicep/modules/search.bicep
  bicep/modules/sql-server-role-assignment.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/infra-permissions.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Spike: test pipeline for using az cli and dependant tools with secondary azure subscriptions
  pipelines/aks-test.yml
Due: none

consolidate
  pipelines/aks-test.yml
Due: none

floop
  pipelines/aks-test.yml
Due: none

grabconfig
  pipelines/aks-test.yml
Due: none

az account show
  pipelines/aks-test.yml
Due: none

kubelogin
  pipelines/aks-test.yml
Due: none

token
  pipelines/aks-test.yml
Due: none

Bugfix: use correct var for sqlServerName
  bicep/modules/search.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

add Sunil permissions
  pipelines/vars/common.yaml
Due: none

bump ipaff-common in backoffice and webapp charts
  helm-charts/backoffice/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.28.0` to `0.29.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.42.0` to `0.43.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add Trade Platform authentication environment variables to DEV bootstrap-values configuration
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

Add GVMS queue and B2B_CUSTOMER_USER_ID to DEV bootstrap-values; update deploy-ipaffs pipeline with commented GVMS-service configuration.
  helm-charts/envs/dev/bootstrap-values.yaml
  pipelines/deploy-ipaffs.yaml
Due: none

Add additional Bicep outputs for Azure AI Search
  bicep/30-infra.bicep
  bicep/modules/search.bicep
  pipelines/jobs/deploy-chart.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add helm chart environment variable for Azure AI Search principal name
  pipelines/jobs/deploy-chart.yaml
Due: none

Update Azure AI search bicep and charts with additional parameters for search migration scripts
  bicep/30-infra.bicep
  bicep/modules/search.bicep
  helm-charts/webapp/templates/configmap.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Remove incorrect data from config map
  helm-charts/webapp/templates/configmap.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Update pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml

Update helm-charts/webapp/values.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Update helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.43.0` to `0.44.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

debug port
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.44.0` to `0.45.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Move env vars to database migration template
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.45.0` to `0.46.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml
