Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Resolve service connection fallback from job variables
  pipelines/steps/deploy-chart.yaml
Due: none

Add another CCTS engineer to lower envs readers group
  pipelines/vars/common.yaml
Due: none

Add QA automation KeyVault and Testers group for TST environment
  bicep/40-infra.bicep
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/keyvault.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/vars/common.yaml
  pipelines/vars/tst.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add script to migrate QA secrets from DEV to TST Key Vault
  scripts/tools/qa/migrate-qa-secrets.sh
Due: none

Setup networking for AGC
  bicep/20-network.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/modules/agc-network.bicep
  pipelines/vars/dev.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Added the dedicated AGC NSG to each existing nsgParams.networkSecurityGroups array
  bicep/20-network.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/modules/agc-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

use existing route tables
  bicep/20-network.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/modules/agc-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-21102 Restore dedicated AGC Internet routing
  bicep/20-network.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/modules/agc-network.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

IMTA-21102 Align AGC delegation names with existing convention
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add private endpoint DNS records configuration for QA KeyVault in TST environment
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Add KeyVault Admins group to QA KeyVault role assignments
  bicep/40-infra.bicep
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Initial AGC implementation
  bicep/40-infra.bicep
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/application-gateway-for-containers.bicep
  bicep/modules/subnet-role-assignment.bicep
  helm-charts/alb-controller-values.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/import-acr-artifacts.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/vars/common.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml

Add DELETE_FROM_SOURCE flag to make secret deletion optional in QA migration script
  scripts/tools/qa/migrate-qa-secrets.sh
Due: none

Support resource groups per k8s namespace
  helm-charts/backoffice/templates/identities.yaml
  helm-charts/backoffice/templates/redis.yaml
  helm-charts/backoffice/tests/identities_test.yaml
  helm-charts/backoffice/tests/redis_test.yaml
  helm-charts/backoffice/values.yaml
  helm-charts/bootstrap/templates/resourcegroup.yaml
  helm-charts/bootstrap/templates/service-bus.yaml
  helm-charts/bootstrap/templates/sqlserver.yaml
  helm-charts/bootstrap/templates/storageaccount.yaml
  helm-charts/bootstrap/tests/resourcegroup_test.yaml
  helm-charts/bootstrap/tests/service-bus_test.yaml
  helm-charts/bootstrap/tests/sqlserver_test.yaml
  helm-charts/bootstrap/tests/storageaccount_test.yaml
  helm-charts/bootstrap/values.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/job/templates/_helpers.tpl
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/tests/database_migration_test.yaml
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/steps/deploy-chart.yaml
  scripts/pipeline/deploy-identities-from-services.sh
  scripts/pipeline/deploy-identities-from-services.test.sh
  scripts/pipeline/ensure-namespace-resource-group.sh
  scripts/pipeline/ensure-namespace-resource-group.test.sh
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

address PR comments
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

Adding ability to run new visual regression tests and update baseline snapshots
  pipelines/qa-automation.yaml
Due: none

Added optional AGC routes alongside unchanged NGINX ingress
  .github/workflows/pipeline-syntax.yaml
  helm-charts/agc-gateway/Chart.yaml
  helm-charts/agc-gateway/templates/gateway.yaml
  helm-charts/agc-gateway/tests/gateway_test.yaml
  helm-charts/agc-gateway/values.yaml
  helm-charts/bootstrap/templates/agc-httproute.yaml
  helm-charts/bootstrap/tests/agc_httproute_test.yaml
  helm-charts/bootstrap/values.yaml
  helm-charts/ipaffs-common/templates/_agc.tpl
  helm-charts/webapp/templates/agc-healthcheck.yaml
  helm-charts/webapp/templates/agc-httproute.yaml
  helm-charts/webapp/tests/agc_healthcheck_test.yaml
  helm-charts/webapp/tests/agc_httproute_test.yaml
  helm-charts/webapp/values.yaml
  pipelines/install-helm-charts.yaml
  pipelines/stages/install-helm-charts.yaml
  pipelines/steps/deploy-chart.yaml
  pipelines/vars/common.yaml
  scripts/pipeline/test-agc-routing.sh
Due: pipelines/install-helm-charts.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

IMTA-21693: Add DEV QA nightly pipeline and fix Slack skipped count
  pipelines/qa-automation-nightly-dev.yaml
  pipelines/qa-automation.yaml
  scripts/pipeline/parse-playwright-results.sh
Due: none

enable for dev
  pipelines/vars/dev.yaml
  scripts/pipeline/test-agc-routing.sh
Due: none

Add Front Door ID for DEV, TST. PRE and PRD
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
Due: none

IMTA-21693: Run DEV QA nightly from qa-automation-nightly instead of a separate pipeline
  pipelines/qa-automation-nightly-dev.yaml
  pipelines/qa-automation-nightly.yaml
Due: none

IMTA-21693: Run DEV QA nightly from qa-automation-nightly instead of a separate pipeline
  pipelines/qa-automation-nightly.yaml
Due: none

restrict ability for pods to run workloads as root inside a container
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/tests/ci-values.yaml
  helm-charts/job/tests/nonroot_cronjob_test.yaml
  helm-charts/job/tests/nonroot_scaledjob_test.yaml
  helm-charts/job/values.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/tests/nonroot_database-migration_test.yaml
  helm-charts/webapp/tests/nonroot_deployment_test.yaml
  helm-charts/webapp/values.yaml
  pipelines/job-chart.yaml
  scripts/pipeline/test-webapp-chart.sh
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Reload webapps when shared ipaffs-config changes
  helm-charts/reloader-values.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/tests/deployment_test.yaml
Due: pipelines/install-helm-charts.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.119.0` to `0.120.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.120.0` to `0.121.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.61.0` to `0.62.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Split QA into fixed DEV and TST pipelines [skip azp]
  .github/workflows/pipeline-syntax.yaml
  docs/qa-environment-pipelines.md
  pipelines/qa-automation-dev.yaml
  pipelines/qa-automation-nightly.yaml
  pipelines/qa-automation-tst.yaml
  pipelines/templates/qa-automation.yaml
  scripts/pipeline/write-qa-run-context.py
  tests/requirements.txt
  tests/test_qa_pipelines.py
Due: none

Preserve the exact QA filter in run context [skip azp]
  scripts/pipeline/write-qa-run-context.py
  tests/test_qa_pipelines.py
Due: none

Remove retired QA pipeline entry points [skip azp]
  docs/qa-environment-pipelines.md
  pipelines/qa-automation-nightly.yaml
  pipelines/qa-automation.yaml
  pipelines/templates/qa-automation.yaml
  scripts/pipeline/write-qa-run-context.py
  tests/test_qa_pipelines.py
Due: none

Remove QA documentation and test additions [skip azp]
  .github/workflows/pipeline-syntax.yaml
  docs/qa-environment-pipelines.md
  tests/requirements.txt
  tests/test_qa_pipelines.py
Due: none

Added Trivy image security scanning for Docker images to the build pipelines
  pipelines/jobs/package-java-project.yaml
  pipelines/jobs/package-node-project.yaml
  pipelines/steps/scan-container-image.yaml
  pipelines/vars/common.yaml
Due: none

Changed the name of the generated tar file for trivy to more cleary identify what image contains the vulnerability in the scan report
  pipelines/steps/scan-container-image.yaml
Due: none

Add PIM role assignment groups
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

Use stable API for `roleEligibilityScheduleRequests`
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Change back to duration based
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Reduce to 1 year
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Try iso8601
  bicep/envs/dev/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Extend eligible roles for ~10 years
  bicep/10-resource-group.bicep
  bicep/envs/dev/10-resource-group.bicepparam
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Cannot assign eligibility with no expiration by policy
  bicep/modules/resource-group-role-eligibility.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
