Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

pipelines/aks-cluster.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: Deploy
    jobs:
    - deployment: DeployBicep
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
          deploy:
            steps:
            - checkout: self
            - task: AzureCLI@2
  ...

pipelines/database-watcher.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployInfrastructure
    displayName: Deploy Infrastructure
    jobs:
    - deployment: DeployBicep
      displayName: Deploy Bicep Templates
      environment:
        name: ${{ parameters.environmentName }}
      strategy:
        runOnce:
  ...

pipelines/deploy-bicep.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/deploy-bicep-resource-group.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  - template: stages/deploy-bicep-network.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}
  ...

pipelines/entra-groups.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/entra-groups.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/import-acr-artifacts.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/import-acr-artifacts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-permissions.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - template: stages/infra-permissions.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/infra-pipeline-tst.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/infra-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  stages:
  - stage: DeployBaseInfrastructure
    jobs:
    - job: Deploy
      steps:
      - task: AzureCLI@2
        name: PrepareResourceGroups
        condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
        inputs:
  ...

pipelines/install-helm-charts.yaml:
  pool:
    name: DEFRA-COMMON-UBUNTU-SSV5
  stages:
  - template: stages/install-helm-charts.yaml
    parameters:
      environmentName: ${{ parameters.environmentName }}

pipelines/ipaffs-backend-pipeline.yaml:
  pool:
    name: DEFRA-COMMON-ubuntu2204-SSV5
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'echo "Logging in to ACR."
  
        az acr login --name $(acrName)
  
  
        echo "Packaging Helm Chart."
  
  ...

Add script to ensure ASO-managed identities and enhance Helmfile actions in pipelines
  pipelines/jobs/deploy-chart.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/templates/java-template.yaml
  scripts/pipeline/ensure-aso-managed-identity.sh
Due: none

Update KeyVault API, enable soft delete
  bicep/modules/keyvault.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Remove managed identity configuration from webapp Helm chart templates
  helm-charts/webapp/templates/identities.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Fix incorrect principal id name
  pipelines/stages/infra-permissions.yaml
Due: pipelines/infra-permissions.yaml

[skip ci] build(deps): Bumping Chart version from `0.52.0` to `0.53.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add service account and workload identity support in Helm chart templates
  helm-charts/job/Chart.yaml
  helm-charts/job/templates/_helpers.tpl
  helm-charts/job/templates/configmap.yaml
  helm-charts/job/templates/cronjob.yaml
  helm-charts/job/templates/scaledjob.yaml
  helm-charts/job/templates/serviceaccount.yaml
  helm-charts/job/values.schema.json
  helm-charts/job/values.yaml
Due: pipelines/job-chart.yaml

Rename storage account
  bicep/envs/dev/30-infra.bicepparam
  helm-charts/ipaffs-common/templates/_azure.tpl
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/ipaffs-common-chart.yaml

Export storageAccountName as ADO variable and create private DNS records for its private endpoint
  bicep/30-infra.bicep
  bicep/modules/storage.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/privatelink-dns-records.yaml

[skip ci] build(deps): Bumping Chart version from `0.17.0` to `0.18.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

test storage account
  bicep/envs/tst/30-infra.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.17.0` to `0.18.0`
  helm-charts/ipaffs-common/Chart.yaml
Due: pipelines/ipaffs-common-chart.yaml

bump ipaffs-common chart
  helm-charts/backoffice/Chart.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
Due: pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.53.0` to `0.54.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.31.0` to `0.32.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.18.0` to `0.19.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Specify subscription for `az acr login`
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

acr troubleshooting
  pipelines/stages/install-helm-charts.yaml
Due: pipelines/install-helm-charts.yaml

rename pipepipeline, move private endpoint dns before helm chart installations
  pipelines/infrastructure.yaml
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

storage permissions
  bicep/30-infra.bicep
  bicep/modules/storage-role-assignment.bicep
  bicep/modules/storage.bicep
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

storage permissions
  pipelines/stages/entra-groups.yaml
Due: pipelines/entra-groups.yaml

[skip ci] build(deps): Bumping Chart version from `0.54.0` to `0.55.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Bump repo version for DEFRA-DEVOPS-COMMON/Defra.Pipeline.Common
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

storage permission contributors
  bicep/modules/storage.bicep
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/entra-groups.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

add storage account permissions to managed identity
  pipelines/jobs/deploy-identities.yaml
Due: none

Add permission for Gaurav's QA access
  pipelines/vars/common.yaml
Due: none

Add Daniel Johansson to admins in common.yaml
  pipelines/vars/common.yaml
Due: none

Create an ipaffs-manifest of the latest service images and matching configuation
  helm-charts/backoffice/Chart.yaml
  helm-charts/backoffice/templates/identities.yaml
  helm-charts/bootstrap/Chart.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/job/Chart.yaml
  helm-charts/webapp/Chart.yaml
  pipelines/backoffice-chart.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
  pipelines/webapp-chart.yaml
  scripts/pipeline/deploy-identities-from-services.sh
  scripts/pipeline/package-and-push-chart.sh
  scripts/pipeline/update-manifest-service-values.sh
  scripts/pipeline/wait-for-aso-identities-from-services.sh
Due: pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.32.0` to `0.33.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.55.0` to `0.56.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.19.0` to `0.20.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

Restrict `UpdateManifest` stage to default branch builds in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Normalize branch name comparison for `UpdateManifest` stage conditions in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Restrict manifest updates to default branch builds using a conditional task in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Normalize branch name handling and persist credentials for manifest updates in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Normalize branch name extraction logic in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Simplify `UpdateManifest` stage conditions and remove redundant manifest update logic in pipeline templates
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Set the release namespace as an environment variable
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Set the release namespace as an environment variable
  helm-charts/bootstrap/templates/configmap.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

[skip ci] build(deps): Bumping Chart version from `0.56.0` to `0.57.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Add optional migrations toggle in backoffice Helm chart values
  helm-charts/backoffice/values.yaml
Due: none

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp
