Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/ipaffs-common-chart.yaml, pipelines/job-chart.yaml, pipelines/legacy.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/envs/*/10-resource-group.bicepparam, bicep/envs/*/20-network.bicepparam, bicep/envs/*/30-infra.bicepparam, bicep/envs/*/40-privatelink.bicepparam, bicep/modules/*.bicep, bicep/10-resource-group.bicep, bicep/20-network.bicep, bicep/30-infra.bicep, bicep/40-privatelink.bicep, pipelines/deploy-bicep.yaml, pipelines/stages/deploy-bicep-resource-group.yaml, pipelines/stages/deploy-bicep-network.yaml, pipelines/stages/deploy-bicep-infra.yaml, pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/entra-groups.yaml: any of: pipelines/entra-groups.yaml, pipelines/stages/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/stages/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml: any of: pipelines/infra-permissions.yaml, pipelines/stages/infra-permissions.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/stages/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/ipaffs-common-chart.yaml: any of: helm-charts/ipaffs-common, pipelines/ipaffs-common-chart.yaml
  pipelines/job-chart.yaml: any of: helm-charts/job, pipelines/job-chart.yaml
  pipelines/legacy.yaml: any of: bicep/90-legacy.bicep, bicep/**/90-legacy.bicepparam, pipelines/legacy.yaml
  pipelines/privatelink-dns-records.yaml: any of: pipelines/private-endpoint-dns-records.yaml, pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/webapp-chart.yaml: any of: helm-charts/webapp, pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

Split tasks into jobs for private-endpoint-dns-records pipeline
  pipelines/stages/private-endpoint-dns-records.yaml
Due: pipelines/privatelink-dns-records.yaml

Cross-subscription reader access for private endpoint lookup
  bicep/envs/prd/10-resource-group.bicepparam
  bicep/envs/tst/10-resource-group.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

remove trade queues
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.25.0` to `0.26.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.26.0` to `0.27.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

remove gvms queue
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.27.0` to `0.28.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Configure service connection for common groups
  pipelines/stages/infra-permissions.yaml
  pipelines/vars/dev.yaml
  pipelines/vars/prd.yaml
  pipelines/vars/pre.yaml
  pipelines/vars/tst.yaml
  scripts/pipeline/add-principal-to-group.sh
Due: pipelines/infra-permissions.yaml

Stop creating multiple private endpoints per resource and peer vnets instead
  bicep/20-network.bicep
  bicep/25-acr.bicep
  bicep/30-classic.bicep
  bicep/40-infra.bicep
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/dev/25-acr.bicepparam
  bicep/envs/dev/40-infra.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/prd/25-acr.bicepparam
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/prd/40-infra.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/pre/40-infra.bicepparam
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/tst/20-network.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/40-infra.bicepparam
  bicep/modules/acr-private-endpoint.bicep
  bicep/modules/acr.bicep
  bicep/modules/classic-private-endpoints.bicep
  bicep/modules/virtual-network-classic.bicep
  bicep/modules/virtual-network.bicep
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-network.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Temporary forward fix: make application identities SQL admins
  pipelines/jobs/deploy-identities.yaml
  scripts/pipeline/deploy-identities-from-services.sh
Due: none

Split classic network configuration (peering) into own bicep module as it's in a different resource group
  bicep/30-classic.bicep
  bicep/35-classic-network.bicep
  bicep/envs/snd/30-classic.bicepparam
  bicep/envs/snd/35-classic-network.bicepparam
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
  pipelines/stages/deploy-bicep-classic-network.yaml
  pipelines/stages/deploy-bicep-infra.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Add classic-network params
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/prd/35-classic-network.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/pre/35-classic-network.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  bicep/envs/tst/35-classic-network.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

remove risk feedback queue
  helm-charts/envs/dev/bootstrap-values.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.28.0` to `0.29.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Remove unused param
  bicep/envs/prd/30-classic.bicepparam
  bicep/envs/pre/30-classic.bicepparam
  bicep/envs/tst/30-classic.bicepparam
  pipelines/stages/deploy-bicep-classic.yaml
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Enable classic-network bicep module
  pipelines/deploy-bicep.yaml
  pipelines/infrastructure.yaml
Due: pipelines/deploy-bicep.yaml

Move defra cert config into external-secrets-azure chart as it should be one instance per cluster, attempt config to extract PKCS#12 bundle from Key Vault
  helm-charts/bootstrap/templates/external-secret.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/external-secrets-azure/templates/defra-wildcard-cert.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.29.0` to `0.30.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

Fix conflicting artifact name
  pipelines/stages/deploy-bicep-classic-network.yaml
Due: none

Set variables from HigherEnvs/LowerEnvs for step that pushes to ACR
  pipelines/steps/build-container-image.yaml
Due: none

Align all variables blocks
  pipelines/deploy-bicep.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic-network.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/deploy-bicep-resource-group.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/establish-peering.yaml
  pipelines/stages/infra-permissions.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/steps/build-container-image.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/infra-permissions.yaml, pipelines/privatelink-dns-records.yaml

Fix bad string replace
  pipelines/stages/deploy-bicep-classic-network.yaml
Due: none

Absolute paths for vars files
  pipelines/backoffice-chart.yaml
  pipelines/bootstrap-chart.yaml
  pipelines/deploy-bicep.yaml
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/job-chart.yaml
  pipelines/jobs/deploy-chart.yaml
  pipelines/jobs/deploy-identities.yaml
  pipelines/legacy.yml
  pipelines/private-endpoint-dns-records.yaml
  pipelines/stages/deploy-bicep-acr.yaml
  pipelines/stages/deploy-bicep-classic-network.yaml
  pipelines/stages/deploy-bicep-classic.yaml
  pipelines/stages/deploy-bicep-infra.yaml
  pipelines/stages/deploy-bicep-network.yaml
  pipelines/stages/deploy-bicep-privatelink.yaml
  pipelines/stages/deploy-bicep-resource-group.yaml
  pipelines/stages/entra-groups.yaml
  pipelines/stages/establish-peering.yaml
  pipelines/stages/infra-permissions.yaml
  pipelines/stages/private-endpoint-dns-records.yaml
  pipelines/steps/build-container-image.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/install-helm-charts.yaml, pipelines/job-chart.yaml, pipelines/privatelink-dns-records.yaml, pipelines/webapp-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.57.0` to `0.58.0`
  helm-charts/backoffice/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.43.0` to `0.44.0`
  helm-charts/job/Chart.yaml
Due: pipelines/job-chart.yaml

[skip ci] build(deps): Bumping Chart version from `0.30.0` to `0.31.0`
  helm-charts/bootstrap/Chart.yaml
Due: none

[skip ci] build(deps): Bumping Chart version from `0.95.0` to `0.96.0`
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-chart.yaml, pipelines/webapp-pipeline.yaml

Enable ServiceBus endpoint for connectivity to CCoE KeyVault (containing defra.cloud cert(s))
  bicep/envs/dev/20-network.bicepparam
  bicep/envs/prd/20-network.bicepparam
  bicep/envs/pre/20-network.bicepparam
  bicep/envs/tst/20-network.bicepparam
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Tag deploy-bicep builds with environment name
  pipelines/deploy-bicep.yaml
Due: pipelines/deploy-bicep.yaml

Set tag in a stage template
  pipelines/deploy-bicep.yaml
  pipelines/stages/tag-build.yaml
Due: pipelines/deploy-bicep.yaml

Ensure job name is valid
  pipelines/stages/tag-build.yaml
Due: none

Tag more builds with environment name
  pipelines/entra-groups.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infra-permissions.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/private-endpoint-dns-records.yaml
Due: pipelines/entra-groups.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-permissions.yaml, pipelines/install-helm-charts.yaml, pipelines/privatelink-dns-records.yaml

variable issue in build container
  pipelines/jobs/package-java-project.yaml
  pipelines/jobs/package-node-project.yaml
  pipelines/steps/build-container-image.yaml
Due: none

variable issue in build container
  pipelines/jobs/package-java-project.yaml
  pipelines/jobs/package-node-project.yaml
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

variable issue in build container
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

variables into update manifest
  pipelines/templates/java-template.yaml
  pipelines/templates/node-template.yaml
Due: none

Revert "Move defra cert config into external-secrets-azure chart as it should be one instance per cluster, attempt config to extract PKCS#12 bundle from Key Vault"
  helm-charts/bootstrap/templates/external-secret.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/external-secrets-azure/templates/defra-wildcard-cert.yaml
Due: none

Add certs configuration support for external secrets in Helm charts
  helm-charts/bootstrap/templates/external-secret.yaml
  helm-charts/bootstrap/values.schema.json
  helm-charts/bootstrap/values.yaml
  helm-charts/envs/dev/bootstrap-values.yaml
  helm-charts/envs/tst/bootstrap-values.yaml
Due: none
