Repository DEFRA/ipaffs-infra: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/aks-cluster.yaml, pipelines/database-watcher.yaml, pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/install-helm-charts.yaml, pipelines/ipaffs-backend-pipeline.yaml, pipelines/legacy.yaml, pipelines/webapp-pipeline.yaml

Path conditions:
  pipelines/aks-cluster.yaml: any of: bicep/acr.bicep, bicep/**/acr.parameters.json, bicep/aks-cluster.bicep, bicep/**/aks-cluster.parameters.json, bicep/network-security-group.bicep, bicep/**/network-security-group.parameters.json, bicep/virtual-network.bicep, bicep/**/virtual-network.parameters.json, pipelines/aks-cluster.yaml
  pipelines/database-watcher.yaml: any of: bicep/database-watcher.bicep, bicep/**/database-watcher.parameters.json, pipelines/database-watcher.yaml
  pipelines/deploy-bicep.yaml: any of: bicep/*.bicep, bicep/**/*.bicep, bicep/**/main.parameters.json, pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml: any of: pipelines/import-acr-artifacts.yaml, pipelines/steps/import-container-images.yaml
  pipelines/infra-pipeline-tst.yaml: any of: bicep, pipelines/infra-pipeline-tst.yaml
  pipelines/infra-pipeline.yaml: any of: bicep, pipelines/infra-pipeline.yaml
  pipelines/install-helm-charts.yaml: any of: helm-charts/*-values.yaml, pipelines/install-helm-charts.yaml, pipelines/steps/install-helm-charts.yaml
  pipelines/ipaffs-backend-pipeline.yaml: any of: helm-charts/ipaffs-backend
  pipelines/legacy.yaml: any of: bicep/legacy.bicep, bicep/**/legacy.bicepparam, pipelines/legacy.yaml
  pipelines/webapp-pipeline.yaml: any of: helm-charts/webapp

enable workload identity for service pod
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

specify serviceAccountName for service pod spec
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

ah crap casing
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml

fix up credential subject, remove imagePullSecret from deployment (not needed)
  helm-charts/webapp/templates/deployment.yaml
  pipelines/stages/deploy-identities.yaml
Due: pipelines/webapp-pipeline.yaml

blump
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-pipeline.yaml

correcto no stupido
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/values.yaml
  pipelines/stages/deploy-identities.yaml
Due: pipelines/webapp-pipeline.yaml

Fix incorrect service account name in federated identity credential subject
  pipelines/group.yaml
Due: none

delete tmp group pipeline, create service MI in pipeline and adopt in chart
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
  pipelines/group.yaml
  pipelines/stages/deploy-identities.yaml
Due: pipelines/webapp-pipeline.yaml

fix var name
  pipelines/stages/deploy-identities.yaml
Due: none

move scripts into external files, tidy up namings
  pipelines/stages/deploy-identities.yaml
  scripts/pipeline/add-principal-to-group.sh
  scripts/pipeline/create-identity.sh
  scripts/pipeline/wait-for-group-membership.sh
Due: none

attempt absolute paths
  pipelines/stages/deploy-identities.yaml
Due: none

tree
  pipelines/stages/deploy-identities.yaml
Due: none

try again path foo
  pipelines/stages/deploy-identities.yaml
Due: none

try checkout self
  pipelines/stages/deploy-identities.yaml
Due: none

try checkout ipaffs-infra
  pipelines/stages/deploy-identities.yaml
Due: none

path relative to default dir
  pipelines/stages/deploy-identities.yaml
Due: none

set workload identity label on pod
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-pipeline.yaml

improve labels
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/azure.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/database.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/templates/redis.yaml
  helm-charts/webapp/templates/service-bus.yaml
Due: pipelines/webapp-pipeline.yaml

set connstring for migrations
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-pipeline.yaml

Moved to helmfile
  helm-charts/backoffice/Chart.yaml
  helm-charts/backoffice/templates/_helpers.tpl
  helm-charts/backoffice/templates/azure.yaml
  helm-charts/backoffice/templates/database.yaml
  helm-charts/backoffice/templates/deployment.yaml
  helm-charts/backoffice/templates/redis.yaml
  helm-charts/backoffice/templates/service-bus.yaml
  helm-charts/backoffice/values.schema.json
  helm-charts/backoffice/values.yaml
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/webapp-pipeline.yaml

create library chart, delete old unused chart
  .gitignore
  helm-charts/backoffice/Chart.yaml
  helm-charts/backoffice/templates/azure.yaml
  helm-charts/backoffice/templates/database.yaml
  helm-charts/backoffice/templates/deployment.yaml
  helm-charts/backoffice/templates/redis.yaml
  helm-charts/backoffice/templates/service-bus.yaml
  helm-charts/ipaffs-backend/.helmignore
  helm-charts/ipaffs-backend/Chart.yaml
  helm-charts/ipaffs-common/Chart.yaml
  helm-charts/ipaffs-common/templates/_azure.tpl
  helm-charts/ipaffs-common/templates/_chart.tpl
  helm-charts/ipaffs-common/templates/_ingress.tpl
  helm-charts/ipaffs-common/templates/_labels.tpl
  helm-charts/webapp/Chart.yaml
  helm-charts/webapp/templates/NOTES.txt
  helm-charts/webapp/templates/_helpers.tpl
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/templates/deployment.yaml
  helm-charts/webapp/templates/ingress.yaml
  helm-charts/webapp/templates/service.yaml
  helm-charts/webapp/values.yaml
Due: pipelines/ipaffs-backend-pipeline.yaml, pipelines/webapp-pipeline.yaml

update labels, bump verions
  helm-charts/backoffice/Chart.yaml
  helm-charts/ipaffs-common/Chart.yaml
  helm-charts/ipaffs-common/templates/_labels.tpl
  helm-charts/webapp/Chart.yaml
Due: pipelines/webapp-pipeline.yaml

update webapp pipeline
  pipelines/stages/package-helm-chart.yaml
  pipelines/webapp-chart.yaml
  pipelines/webapp-pipeline.yaml
  scripts/pipeline/bump-semver.sh
  scripts/pipeline/create-identity.sh
  scripts/pipeline/package-and-push-chart.sh
  scripts/pipeline/update-chart-version.sh
Due: none

set parameters
  pipelines/deploy-bicep.yaml
  pipelines/import-acr-artifacts.yaml
  pipelines/infrastructure.yaml
  pipelines/install-helm-charts.yaml
  pipelines/legacy.yaml
  pipelines/webapp-chart.yaml
Due: pipelines/deploy-bicep.yaml, pipelines/import-acr-artifacts.yaml, pipelines/install-helm-charts.yaml, pipelines/legacy.yaml

fix parameter refs
  pipelines/stages/package-helm-chart.yaml
Due: none

fix task argument
  pipelines/stages/package-helm-chart.yaml
Due: none

fix more task arguments
  pipelines/stages/package-helm-chart.yaml
Due: none

add pipelines for other charts, update helm deps
  pipelines/backoffice-chart.yaml
  pipelines/ipaffs-backend-pipeline.yaml
  pipelines/ipaffs-common-chart.yaml
  scripts/pipeline/package-and-push-chart.sh
Due: none

error handling
  scripts/pipeline/package-and-push-chart.sh
Due: none

use minus for semver suffix
  pipelines/stages/package-helm-chart.yaml
Due: none

don't commit tarballs
  .gitignore
Due: none

convert plain script task to Bash@3 task
  pipelines/stages/package-helm-chart.yaml
Due: none

Add adminEntraUser parameter to legacy.bicepparam
  bicep/envs/snd/legacy.bicepparam
Due: pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

Replace hardcoded principalId with parameter
  bicep/modules/database-watcher.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml

Cleanup unused fields in Helm values.yaml
  helm-charts/backoffice/values.yaml
Due: none

Use dbwatcher system-assigned identity principal ID for kusto DB principal assignment
  bicep/envs/snd/legacy.bicepparam
  bicep/modules/database-watcher.bicep
Due: pipelines/deploy-bicep.yaml, pipelines/infra-pipeline-tst.yaml, pipelines/infra-pipeline.yaml, pipelines/legacy.yaml

attempt 1 configuring real migrations
  helm-charts/webapp/templates/database-migration.yaml
  helm-charts/webapp/values.yaml
  pipelines/steps/install-helmfile.yaml
  scripts/pipeline/create-identity.sh
Due: pipelines/webapp-pipeline.yaml

delete hooks before creation
  helm-charts/webapp/templates/database-migration.yaml
Due: pipelines/webapp-pipeline.yaml

remove duplicate identity
  helm-charts/backoffice/templates/identities.yaml
  helm-charts/webapp/templates/deployment.yaml
Due: pipelines/webapp-pipeline.yaml
